/* jQuery Growl
 * Copyright 2015 Kevin Sylvestre
 * 1.3.5
 */
/* line 24, /Users/william/Documents/work/W21C/node_modules/jquery.growl/stylesheets/jquery.growl.sass */
.ontop, #growls-default, #growls-tl, #growls-tr, #growls-bl, #growls-br, #growls-tc, #growls-bc, #growls-cc, #growls-cl, #growls-cr {
  z-index: 50000;
  position: fixed;
}

/* line 29, /Users/william/Documents/work/W21C/node_modules/jquery.growl/stylesheets/jquery.growl.sass */
#growls-default {
  top: 10px;
  right: 10px;
}
/* line 33, /Users/william/Documents/work/W21C/node_modules/jquery.growl/stylesheets/jquery.growl.sass */
#growls-tl {
  top: 10px;
  left: 10px;
}
/* line 37, /Users/william/Documents/work/W21C/node_modules/jquery.growl/stylesheets/jquery.growl.sass */
#growls-tr {
  top: 10px;
  right: 10px;
}
/* line 41, /Users/william/Documents/work/W21C/node_modules/jquery.growl/stylesheets/jquery.growl.sass */
#growls-bl {
  bottom: 10px;
  left: 10px;
}
/* line 45, /Users/william/Documents/work/W21C/node_modules/jquery.growl/stylesheets/jquery.growl.sass */
#growls-br {
  bottom: 10px;
  right: 10px;
}
/* line 49, /Users/william/Documents/work/W21C/node_modules/jquery.growl/stylesheets/jquery.growl.sass */
#growls-tc {
  top: 10px;
  right: 10px;
  left: 10px;
}
/* line 54, /Users/william/Documents/work/W21C/node_modules/jquery.growl/stylesheets/jquery.growl.sass */
#growls-bc {
  bottom: 10px;
  right: 10px;
  left: 10px;
}
/* line 59, /Users/william/Documents/work/W21C/node_modules/jquery.growl/stylesheets/jquery.growl.sass */
#growls-cc {
  top: 50%;
  left: 50%;
  margin-left: -125px;
}
/* line 64, /Users/william/Documents/work/W21C/node_modules/jquery.growl/stylesheets/jquery.growl.sass */
#growls-cl {
  top: 50%;
  left: 10px;
}
/* line 68, /Users/william/Documents/work/W21C/node_modules/jquery.growl/stylesheets/jquery.growl.sass */
#growls-cr {
  top: 50%;
  right: 10px;
}
/* line 73, /Users/william/Documents/work/W21C/node_modules/jquery.growl/stylesheets/jquery.growl.sass */
#growls-tc .growl, #growls-bc .growl {
  margin-left: auto;
  margin-right: auto;
}

/* line 78, /Users/william/Documents/work/W21C/node_modules/jquery.growl/stylesheets/jquery.growl.sass */
.growl {
  opacity: 0.8;
  filter: alpha(opacity=80);
  position: relative;
  border-radius: 4px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* line 84, /Users/william/Documents/work/W21C/node_modules/jquery.growl/stylesheets/jquery.growl.sass */
.growl.growl-incoming {
  opacity: 0;
  filter: alpha(opacity=0);
}
/* line 87, /Users/william/Documents/work/W21C/node_modules/jquery.growl/stylesheets/jquery.growl.sass */
.growl.growl-outgoing {
  opacity: 0;
  filter: alpha(opacity=0);
}
/* line 90, /Users/william/Documents/work/W21C/node_modules/jquery.growl/stylesheets/jquery.growl.sass */
.growl.growl-small {
  width: 200px;
  padding: 5px;
  margin: 5px;
}
/* line 94, /Users/william/Documents/work/W21C/node_modules/jquery.growl/stylesheets/jquery.growl.sass */
.growl.growl-medium {
  width: 250px;
  padding: 10px;
  margin: 10px;
}
/* line 98, /Users/william/Documents/work/W21C/node_modules/jquery.growl/stylesheets/jquery.growl.sass */
.growl.growl-large {
  width: 300px;
  padding: 15px;
  margin: 15px;
}
/* line 103, /Users/william/Documents/work/W21C/node_modules/jquery.growl/stylesheets/jquery.growl.sass */
.growl.growl-default {
  color: #FFF;
  background: #7f8c8d;
}
/* line 106, /Users/william/Documents/work/W21C/node_modules/jquery.growl/stylesheets/jquery.growl.sass */
.growl.growl-error {
  color: #FFF;
  background: #C0392B;
}
/* line 109, /Users/william/Documents/work/W21C/node_modules/jquery.growl/stylesheets/jquery.growl.sass */
.growl.growl-notice {
  color: #FFF;
  background: #2ECC71;
}
/* line 112, /Users/william/Documents/work/W21C/node_modules/jquery.growl/stylesheets/jquery.growl.sass */
.growl.growl-warning {
  color: #FFF;
  background: #F39C12;
}
/* line 116, /Users/william/Documents/work/W21C/node_modules/jquery.growl/stylesheets/jquery.growl.sass */
.growl .growl-close {
  cursor: pointer;
  float: right;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  font-family: helvetica, verdana, sans-serif;
}
/* line 124, /Users/william/Documents/work/W21C/node_modules/jquery.growl/stylesheets/jquery.growl.sass */
.growl .growl-title {
  font-size: 18px;
  line-height: 24px;
}
/* line 128, /Users/william/Documents/work/W21C/node_modules/jquery.growl/stylesheets/jquery.growl.sass */
.growl .growl-message {
  font-size: 14px;
  line-height: 18px;
}

/* line 3, /Users/william/Documents/work/W21C/vendor/assets/libs/growl/growl.scss */
.growl {
  opacity: 1;
}

/* line 7, /Users/william/Documents/work/W21C/vendor/assets/libs/growl/growl.scss */
.growl .growl-title {
  padding-bottom: .125rem;
  font-weight: 600;
  line-height: inherit;
}

/* line 13, /Users/william/Documents/work/W21C/vendor/assets/libs/growl/growl.scss */
[dir=rtl] .growl .growl-close {
  float: left;
}

/* line 20, /Users/william/Documents/work/W21C/vendor/assets/libs/growl/growl.scss */
.default-style #growls {
  z-index: 999999;
}
/* line 24, /Users/william/Documents/work/W21C/vendor/assets/libs/growl/growl.scss */
.default-style .growl {
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.09) !important;
          box-shadow: 0 1px 6px rgba(0, 0, 0, 0.09) !important;
}
/* line 29, /Users/william/Documents/work/W21C/vendor/assets/libs/growl/growl.scss */
.default-style .growl-title {
  font-size: 0.894rem;
}
/* line 33, /Users/william/Documents/work/W21C/vendor/assets/libs/growl/growl.scss */
.default-style .growl-message {
  font-size: 0.894rem;
}
/* line 37, /Users/william/Documents/work/W21C/vendor/assets/libs/growl/growl.scss */
.default-style .growl-error {
  background: #d9534f;
  color: #fff;
}
/* line 42, /Users/william/Documents/work/W21C/vendor/assets/libs/growl/growl.scss */
.default-style .growl-notice {
  background: #28c3d7;
  color: #fff;
}
/* line 47, /Users/william/Documents/work/W21C/vendor/assets/libs/growl/growl.scss */
.default-style .growl-warning {
  background: #FFD950;
  color: #665720;
}

/* line 56, /Users/william/Documents/work/W21C/vendor/assets/libs/growl/growl.scss */
.material-style #growls {
  z-index: 999999;
}
/* line 60, /Users/william/Documents/work/W21C/vendor/assets/libs/growl/growl.scss */
.material-style .growl {
  border-radius: 0.125rem;
  -webkit-box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.15), 0px 24px 38px 3px rgba(0, 0, 0, 0.1), 0px 9px 46px 8px rgba(0, 0, 0, 0.08) !important;
          box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.15), 0px 24px 38px 3px rgba(0, 0, 0, 0.1), 0px 9px 46px 8px rgba(0, 0, 0, 0.08) !important;
}
/* line 65, /Users/william/Documents/work/W21C/vendor/assets/libs/growl/growl.scss */
.material-style .growl-title {
  font-size: 0.894rem;
}
/* line 69, /Users/william/Documents/work/W21C/vendor/assets/libs/growl/growl.scss */
.material-style .growl-message {
  font-size: 0.894rem;
}
/* line 73, /Users/william/Documents/work/W21C/vendor/assets/libs/growl/growl.scss */
.material-style .growl-error {
  background: #d9534f;
  color: #fff;
}
/* line 78, /Users/william/Documents/work/W21C/vendor/assets/libs/growl/growl.scss */
.material-style .growl-notice {
  background: #28c3d7;
  color: #fff;
}
/* line 83, /Users/william/Documents/work/W21C/vendor/assets/libs/growl/growl.scss */
.material-style .growl-warning {
  background: #FFD950;
  color: #665720;
}
