<% content_for :styles do %>
  <%= stylesheet_link_tag 'datatables/datatables.css', media: 'all' %>
<% end %>

<% content_for :scripts do %>
  <!-- Dependencies -->
  <%= javascript_include_tag 'datatables/datatables.js' %>

  <%= javascript_include_tag 'tables_datatables.js' %>
<% end %>

<!--
=================================================================
**************************** CONTENT ****************************
-->
<h1>Medications</h1>

<div class="table-responsive">
  <table class="datatables-demo table table-striped table-bordered">
    <thead>
      <tr>
        <th>Name of Medication</th>
        <th>Strength of Medication</th>
        <th>Description of Medication</th>
        <th>How Many to Take at Each Dose</th>
        <th>How to Take the Medication</th>
        <th>Special Instructions</th>
        <th>What is the Medication for?</th>
        <th>Who Perscribed the Medication?</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Trident</td>
        <td>Internet Explorer 4.0</td>
        <td>Win 95+</td>
        <td class="center"> 4</td>
        <td class="center">X</td>
        <td>Win 95+</td>
        <td class="center"> 4</td>
        <td class="center">X</td>
      </tr>
      <tr>
        <td>Trident</td>
        <td>Internet Explorer 5.0</td>
        <td>Win 95+</td>
        <td class="center">5</td>
        <td class="center">C</td>
        <td>Win 95+</td>
        <td class="center">5</td>
        <td class="center">C</td>
      </tr>
      <tr>
        <td>Trident</td>
        <td>Internet Explorer 5.5</td>
        <td>Win 95+</td>
        <td class="center">5.5</td>
        <td class="center">A</td>
        <td>Win 95+</td>
        <td class="center">5.5</td>
        <td class="center">A</td>
      </tr>
    </tbody>
  </table>
</div>
