// Place all the styles related to the dashboard/plan/Event controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.no-color {
  background: rgba(0, 0, 255, 0.15) !important;
}

.white {
  background: #fff !important;
}

// display dot color based on event types
.fc-event-dot {
  .fc-event-success & {
    background: rgba(2, 188, 119, 0.15) !important;
  }
  .fc-event-info & {
    background: rgba(40, 195, 215, 0.15) !important;
  }
  .fc-event-danger & {
    background: rgba(217, 83, 79, 0.15) !important;
  }
  .fc-event-warning & {
    background: rgba(255, 217, 80, 0.15) !important;
  }
  .fc-event-dark & {
    background: rgba(24, 28, 33, 0.15) !important;
  }
  .no-color & {
    background: rgba(0, 0, 255, 0.15) !important;
  }
}
