/*
 * Container style
 */
/* line 4, /Users/william/Documents/work/W21C/node_modules/perfect-scrollbar/css/perfect-scrollbar.css */
.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

/*
 * Scrollbar rail styles
 */
/* line 15, /Users/william/Documents/work/W21C/node_modules/perfect-scrollbar/css/perfect-scrollbar.css */
.ps__rail-x {
  display: none;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  height: 15px;
  /* there must be 'bottom' or 'top' for ps__rail-x */
  bottom: 0px;
  /* please don't change 'position' */
  position: absolute;
}

/* line 27, /Users/william/Documents/work/W21C/node_modules/perfect-scrollbar/css/perfect-scrollbar.css */
.ps__rail-y {
  display: none;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  width: 15px;
  /* there must be 'right' or 'left' for ps__rail-y */
  right: 0;
  /* please don't change 'position' */
  position: absolute;
}

/* line 39, /Users/william/Documents/work/W21C/node_modules/perfect-scrollbar/css/perfect-scrollbar.css */
.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  display: block;
  background-color: transparent;
}

/* line 45, /Users/william/Documents/work/W21C/node_modules/perfect-scrollbar/css/perfect-scrollbar.css */
.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  opacity: 0.6;
}

/* line 54, /Users/william/Documents/work/W21C/node_modules/perfect-scrollbar/css/perfect-scrollbar.css */
.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  background-color: #eee;
  opacity: 0.9;
}

/*
 * Scrollbar thumb styles
 */
/* line 67, /Users/william/Documents/work/W21C/node_modules/perfect-scrollbar/css/perfect-scrollbar.css */
.ps__thumb-x {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color .2s linear, height .2s ease-in-out;
  -webkit-transition: background-color .2s linear, height .2s ease-in-out;
  height: 6px;
  /* there must be 'bottom' for ps__thumb-x */
  bottom: 2px;
  /* please don't change 'position' */
  position: absolute;
}

/* line 79, /Users/william/Documents/work/W21C/node_modules/perfect-scrollbar/css/perfect-scrollbar.css */
.ps__thumb-y {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color .2s linear, width .2s ease-in-out;
  -webkit-transition: background-color .2s linear, width .2s ease-in-out;
  width: 6px;
  /* there must be 'right' for ps__thumb-y */
  right: 2px;
  /* please don't change 'position' */
  position: absolute;
}

/* line 91, /Users/william/Documents/work/W21C/node_modules/perfect-scrollbar/css/perfect-scrollbar.css */
.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
  background-color: #999;
  height: 11px;
}

/* line 98, /Users/william/Documents/work/W21C/node_modules/perfect-scrollbar/css/perfect-scrollbar.css */
.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  background-color: #999;
  width: 11px;
}

/* MS supports */
@supports (-ms-overflow-style: none) {
  /* line 107, /Users/william/Documents/work/W21C/node_modules/perfect-scrollbar/css/perfect-scrollbar.css */
  .ps {
    overflow: auto !important;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* line 113, /Users/william/Documents/work/W21C/node_modules/perfect-scrollbar/css/perfect-scrollbar.css */
  .ps {
    overflow: auto !important;
  }
}
/* line 7, /Users/william/Documents/work/W21C/vendor/assets/libs/perfect-scrollbar/perfect-scrollbar.scss */
.ps {
  position: relative;
}

/* line 11, /Users/william/Documents/work/W21C/vendor/assets/libs/perfect-scrollbar/perfect-scrollbar.scss */
.ps__rail-x,
.ps__rail-y,
.ps__thumb-x,
.ps__thumb-y {
  border-radius: 10rem;
}

/* line 18, /Users/william/Documents/work/W21C/vendor/assets/libs/perfect-scrollbar/perfect-scrollbar.scss */
.ps__rail-x {
  height: 0.25rem;
}

/* line 22, /Users/william/Documents/work/W21C/vendor/assets/libs/perfect-scrollbar/perfect-scrollbar.scss */
.ps__rail-y {
  width: 0.25rem;
}

/* line 26, /Users/william/Documents/work/W21C/vendor/assets/libs/perfect-scrollbar/perfect-scrollbar.scss */
.ps__thumb-x {
  bottom: 0;
  height: 0.25rem;
}

/* line 31, /Users/william/Documents/work/W21C/vendor/assets/libs/perfect-scrollbar/perfect-scrollbar.scss */
.ps__thumb-y {
  right: 0;
  width: 0.25rem;
}

/* line 36, /Users/william/Documents/work/W21C/vendor/assets/libs/perfect-scrollbar/perfect-scrollbar.scss */
.ps__rail-x:hover,
.ps__rail-x:focus,
.ps__rail-x.ps--clicking,
.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking > .ps__thumb-x {
  height: 0.375rem;
}

/* line 45, /Users/william/Documents/work/W21C/vendor/assets/libs/perfect-scrollbar/perfect-scrollbar.scss */
.ps__rail-y:hover,
.ps__rail-y:focus,
.ps__rail-y.ps--clicking,
.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking > .ps__thumb-y {
  width: 0.375rem;
}

/* line 57, /Users/william/Documents/work/W21C/vendor/assets/libs/perfect-scrollbar/perfect-scrollbar.scss */
.default-style .ps__rail-x:hover,
.default-style .ps__rail-y:hover,
.default-style .ps__rail-x:focus,
.default-style .ps__rail-y:focus,
.default-style .ps__rail-x.ps--clicking,
.default-style .ps__rail-y.ps--clicking {
  background-color: rgba(24, 28, 33, 0.1);
}
/* line 66, /Users/william/Documents/work/W21C/vendor/assets/libs/perfect-scrollbar/perfect-scrollbar.scss */
.default-style .ps__thumb-x,
.default-style .ps__thumb-y {
  background-color: rgba(24, 28, 33, 0.3);
}
/* line 71, /Users/william/Documents/work/W21C/vendor/assets/libs/perfect-scrollbar/perfect-scrollbar.scss */
.default-style .ps__rail-x:hover > .ps__thumb-x,
.default-style .ps__rail-y:hover > .ps__thumb-y,
.default-style .ps__rail-x:focus > .ps__thumb-x,
.default-style .ps__rail-y:focus > .ps__thumb-y,
.default-style .ps__rail-x.ps--clicking > .ps__thumb-x,
.default-style .ps__rail-y.ps--clicking > .ps__thumb-y {
  background-color: rgba(24, 28, 33, 0.6);
}
/* line 81, /Users/william/Documents/work/W21C/vendor/assets/libs/perfect-scrollbar/perfect-scrollbar.scss */
.default-style .ps-inverted .ps__rail-x:hover,
.default-style .ps-inverted .ps__rail-y:hover,
.default-style .ps-inverted .ps__rail-x:focus,
.default-style .ps-inverted .ps__rail-y:focus,
.default-style .ps-inverted .ps__rail-x.ps--clicking,
.default-style .ps-inverted .ps__rail-y.ps--clicking {
  background-color: rgba(255, 255, 255, 0.5);
}
/* line 90, /Users/william/Documents/work/W21C/vendor/assets/libs/perfect-scrollbar/perfect-scrollbar.scss */
.default-style .ps-inverted .ps__thumb-x,
.default-style .ps-inverted .ps__thumb-y {
  background-color: rgba(255, 255, 255, 0.7);
}
/* line 95, /Users/william/Documents/work/W21C/vendor/assets/libs/perfect-scrollbar/perfect-scrollbar.scss */
.default-style .ps-inverted .ps__rail-x:hover > .ps__thumb-x,
.default-style .ps-inverted .ps__rail-y:hover > .ps__thumb-y,
.default-style .ps-inverted .ps__rail-x:focus > .ps__thumb-x,
.default-style .ps-inverted .ps__rail-y:focus > .ps__thumb-y,
.default-style .ps-inverted .ps__rail-x.ps--clicking > .ps__thumb-x,
.default-style .ps-inverted .ps__rail-y.ps--clicking > .ps__thumb-y {
  background-color: #fff;
}

/* line 109, /Users/william/Documents/work/W21C/vendor/assets/libs/perfect-scrollbar/perfect-scrollbar.scss */
.material-style .ps__rail-x:hover,
.material-style .ps__rail-y:hover,
.material-style .ps__rail-x:focus,
.material-style .ps__rail-y:focus,
.material-style .ps__rail-x.ps--clicking,
.material-style .ps__rail-y.ps--clicking {
  background-color: rgba(24, 28, 33, 0.1);
}
/* line 118, /Users/william/Documents/work/W21C/vendor/assets/libs/perfect-scrollbar/perfect-scrollbar.scss */
.material-style .ps__thumb-x,
.material-style .ps__thumb-y {
  background-color: rgba(24, 28, 33, 0.3);
}
/* line 123, /Users/william/Documents/work/W21C/vendor/assets/libs/perfect-scrollbar/perfect-scrollbar.scss */
.material-style .ps__rail-x:hover > .ps__thumb-x,
.material-style .ps__rail-y:hover > .ps__thumb-y,
.material-style .ps__rail-x:focus > .ps__thumb-x,
.material-style .ps__rail-y:focus > .ps__thumb-y,
.material-style .ps__rail-x.ps--clicking > .ps__thumb-x,
.material-style .ps__rail-y.ps--clicking > .ps__thumb-y {
  background-color: rgba(24, 28, 33, 0.6);
}
/* line 133, /Users/william/Documents/work/W21C/vendor/assets/libs/perfect-scrollbar/perfect-scrollbar.scss */
.material-style .ps-inverted .ps__rail-x:hover,
.material-style .ps-inverted .ps__rail-y:hover,
.material-style .ps-inverted .ps__rail-x:focus,
.material-style .ps-inverted .ps__rail-y:focus,
.material-style .ps-inverted .ps__rail-x.ps--clicking,
.material-style .ps-inverted .ps__rail-y.ps--clicking {
  background-color: rgba(255, 255, 255, 0.5);
}
/* line 142, /Users/william/Documents/work/W21C/vendor/assets/libs/perfect-scrollbar/perfect-scrollbar.scss */
.material-style .ps-inverted .ps__thumb-x,
.material-style .ps-inverted .ps__thumb-y {
  background-color: rgba(255, 255, 255, 0.7);
}
/* line 147, /Users/william/Documents/work/W21C/vendor/assets/libs/perfect-scrollbar/perfect-scrollbar.scss */
.material-style .ps-inverted .ps__rail-x:hover > .ps__thumb-x,
.material-style .ps-inverted .ps__rail-y:hover > .ps__thumb-y,
.material-style .ps-inverted .ps__rail-x:focus > .ps__thumb-x,
.material-style .ps-inverted .ps__rail-y:focus > .ps__thumb-y,
.material-style .ps-inverted .ps__rail-x.ps--clicking > .ps__thumb-x,
.material-style .ps-inverted .ps__rail-y.ps--clicking > .ps__thumb-y {
  background-color: #fff;
}
