// Place all the styles related to the Dashboard/Goals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
span.sw-icon, span.sw-done-icon {
  padding-top: 5px;
}

ol {
  font-size: 1.2rem;
  text-align: left;
  font-weight: bold;
  margin: 0;
}

[class^="ti-"], [class*=" ti-"] {
  line-height: 2.5 !important;
}

.btn-outline-primary {
  border-color: #26B4FF;
  &:hover {
    color: #FFF !important;
  }
}
