/* line 1, /Users/william/Documents/work/W21C/app/assets/stylesheets/_general.scss */
.title-header {
  background: -webkit-gradient(linear, left top, right top, from(#1e5799), color-stop(0%, #26D07C), to(#41B6E6));
  background: linear-gradient(to right, #1e5799 0%, #26D07C 0%, #41B6E6 100%);
  padding: 15rem 0 3rem 0;
}
/* line 4, /Users/william/Documents/work/W21C/app/assets/stylesheets/_general.scss */
.title-header h1 {
  color: #FFFFFF;
}
