/* line 9, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/theme-corporate.scss */
body {
  background: #f8f8f8;
}

/* line 6, /Users/william/Documents/work/W21C/node_modules/bootstrap/scss/mixins/_text-emphasis.scss */
.text-primary {
  color: #26B4FF !important;
}

/* line 17, /Users/william/Documents/work/W21C/node_modules/bootstrap/scss/mixins/_hover.scss */
a.text-primary:hover, a.text-primary:focus {
  color: #009ef2 !important;
}

/* line 145, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.bg-primary {
  background-color: #26B4FF !important;
}

/* line 17, /Users/william/Documents/work/W21C/node_modules/bootstrap/scss/mixins/_hover.scss */
a.bg-primary:hover, a.bg-primary:focus {
  background-color: #24abf2 !important;
}

/* line 145, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.bg-primary-dark {
  background-color: #22a2e6 !important;
}

/* line 17, /Users/william/Documents/work/W21C/node_modules/bootstrap/scss/mixins/_hover.scss */
a.bg-primary-dark:hover, a.bg-primary-dark:focus {
  background-color: #209adb !important;
}

/* line 145, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.bg-primary-darker {
  background-color: #2099d9 !important;
}

/* line 17, /Users/william/Documents/work/W21C/node_modules/bootstrap/scss/mixins/_hover.scss */
a.bg-primary-darker:hover, a.bg-primary-darker:focus {
  background-color: #1e91ce !important;
}

/* line 7, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_theme/_common.scss */
html:not([dir=rtl]) .border-primary, html[dir=rtl] .border-primary {
  border-color: #26B4FF !important;
}

/* line 413, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.badge-primary {
  background-color: #26B4FF;
  color: #fff;
}

/* line 17, /Users/william/Documents/work/W21C/node_modules/bootstrap/scss/mixins/_hover.scss */
.badge-primary[href]:hover, .badge-primary[href]:focus {
  background-color: #24abf2;
  color: #fff;
  text-decoration: none;
}

/* line 426, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.btn .badge-primary {
  background-color: #26B4FF !important;
  color: #fff !important;
}

/* line 433, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.badge-outline-primary {
  background-color: transparent;
  -webkit-box-shadow: 0 0 0 1px #26B4FF inset;
          box-shadow: 0 0 0 1px #26B4FF inset;
  color: #26B4FF;
}

/* line 17, /Users/william/Documents/work/W21C/node_modules/bootstrap/scss/mixins/_hover.scss */
.badge-outline-primary[href]:hover, .badge-outline-primary[href]:focus {
  color: #26B4FF;
  text-decoration: none;
}

/* line 446, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.btn .badge-outline-primary {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 1px #26B4FF inset !important;
          box-shadow: 0 0 0 1px #26B4FF inset !important;
  color: #26B4FF !important;
}

/* line 24, /Users/william/Documents/work/W21C/node_modules/bootstrap/scss/mixins/_hover.scss */
.page-item.active .page-link, .page-item.active .page-link:hover, .page-item.active .page-link:focus,
.pagination li.active > a:not(.page-link),
.pagination li.active > a:not(.page-link):hover,
.pagination li.active > a:not(.page-link):focus {
  border-color: #26B4FF !important;
  background-color: #26B4FF !important;
  color: #fff !important;
}

/* line 566, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.progress-bar {
  background-color: #26B4FF;
  color: #fff;
}

/* line 582, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.list-group-item-primary {
  border-color: rgba(0, 0, 0, 0.07);
  background-color: #e9f8ff;
  color: #5d6366;
}

/* line 588, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
a.list-group-item-primary,
button.list-group-item-primary {
  color: #5d6366;
}
/* line 17, /Users/william/Documents/work/W21C/node_modules/bootstrap/scss/mixins/_hover.scss */
a.list-group-item-primary:hover, a.list-group-item-primary:focus,
button.list-group-item-primary:hover,
button.list-group-item-primary:focus {
  background-color: #e7f6fc;
  color: #5d6366;
}
/* line 597, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
a.list-group-item-primary.active,
button.list-group-item-primary.active {
  border-color: #26B4FF;
  background-color: #26B4FF;
  color: #5d6366;
}

/* line 24, /Users/william/Documents/work/W21C/node_modules/bootstrap/scss/mixins/_hover.scss */
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  border-color: #26B4FF;
  background-color: #26B4FF;
  color: #fff;
}

/* line 627, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.alert-primary {
  border-color: #d1e5f0;
  background-color: #def4ff;
  color: #596266;
}
/* line 632, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.alert-primary hr {
  border-top-color: #d1e5f0;
}
/* line 636, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.alert-primary .close,
.alert-primary .alert-link {
  color: #596266;
}

/* line 646, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.alert-dark-primary {
  background-color: #26B4FF;
  color: #fff;
}
/* line 650, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.alert-dark-primary hr {
  border-top-color: rgba(255, 255, 255, 0.2);
}
/* line 654, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.alert-dark-primary .close,
.alert-dark-primary .alert-link {
  color: #fff;
}

/* line 666, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.tooltip-primary .tooltip-inner, .tooltip-primary > .tooltip .tooltip-inner, .ngb-tooltip-primary + ngb-tooltip-window .tooltip-inner {
  background: #26B4FF;
  color: #fff;
}
/* line 671, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.tooltip-primary.bs-tooltip-top .arrow::before, .tooltip-primary.bs-tooltip-auto[x-placement^="top"] .arrow::before, .tooltip-primary > .tooltip.bs-tooltip-top .arrow::before, .tooltip-primary > .tooltip.bs-tooltip-auto[x-placement^="top"] .arrow::before, .ngb-tooltip-primary + ngb-tooltip-window.bs-tooltip-top .arrow::before, .ngb-tooltip-primary + ngb-tooltip-window.bs-tooltip-auto[x-placement^="top"] .arrow::before {
  border-top-color: #26B4FF;
}
/* line 672, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.tooltip-primary.bs-tooltip-right .arrow::before, .tooltip-primary.bs-tooltip-auto[x-placement^="right"] .arrow::before, .tooltip-primary > .tooltip.bs-tooltip-right .arrow::before, .tooltip-primary > .tooltip.bs-tooltip-auto[x-placement^="right"] .arrow::before, .ngb-tooltip-primary + ngb-tooltip-window.bs-tooltip-right .arrow::before, .ngb-tooltip-primary + ngb-tooltip-window.bs-tooltip-auto[x-placement^="right"] .arrow::before {
  border-right-color: #26B4FF;
}
/* line 673, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.tooltip-primary.bs-tooltip-bottom .arrow::before, .tooltip-primary.bs-tooltip-auto[x-placement^="bottom"] .arrow::before, .tooltip-primary > .tooltip.bs-tooltip-bottom .arrow::before, .tooltip-primary > .tooltip.bs-tooltip-auto[x-placement^="bottom"] .arrow::before, .ngb-tooltip-primary + ngb-tooltip-window.bs-tooltip-bottom .arrow::before, .ngb-tooltip-primary + ngb-tooltip-window.bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
  border-bottom-color: #26B4FF;
}
/* line 674, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.tooltip-primary.bs-tooltip-left .arrow::before, .tooltip-primary.bs-tooltip-auto[x-placement^="left"] .arrow::before, .tooltip-primary > .tooltip.bs-tooltip-left .arrow::before, .tooltip-primary > .tooltip.bs-tooltip-auto[x-placement^="left"] .arrow::before, .ngb-tooltip-primary + ngb-tooltip-window.bs-tooltip-left .arrow::before, .ngb-tooltip-primary + ngb-tooltip-window.bs-tooltip-auto[x-placement^="left"] .arrow::before {
  border-left-color: #26B4FF;
}

/* line 684, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.popover-primary, .popover-primary > .popover, .ngb-popover-primary + ngb-popover-window {
  border-color: transparent;
  background: #26B4FF;
}
/* line 688, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.popover-primary .popover-header, .popover-primary > .popover .popover-header, .ngb-popover-primary + ngb-popover-window .popover-header {
  border-color: rgba(255, 255, 255, 0.2);
  background: transparent;
  color: #fff;
}
/* line 694, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.popover-primary .popover-body, .popover-primary > .popover .popover-body, .ngb-popover-primary + ngb-popover-window .popover-body {
  background: transparent;
  color: #fff;
}
/* line 699, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.popover-primary .arrow::before, .popover-primary > .popover .arrow::before, .ngb-popover-primary + ngb-popover-window .arrow::before {
  border-color: transparent !important;
}
/* line 701, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.popover-primary.bs-popover-top .arrow::after, .popover-primary.bs-popover-auto[x-placement^="top"] .arrow::after, .popover-primary > .popover.bs-popover-top .arrow::after, .popover-primary > .popover.bs-popover-auto[x-placement^="top"] .arrow::after, .ngb-popover-primary + ngb-popover-window.bs-popover-top .arrow::after, .ngb-popover-primary + ngb-popover-window.bs-popover-auto[x-placement^="top"] .arrow::after {
  border-top-color: #26B4FF;
}
/* line 702, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.popover-primary.bs-popover-right .arrow::after, .popover-primary.bs-popover-auto[x-placement^="right"] .arrow::after, .popover-primary > .popover.bs-popover-right .arrow::after, .popover-primary > .popover.bs-popover-auto[x-placement^="right"] .arrow::after, .ngb-popover-primary + ngb-popover-window.bs-popover-right .arrow::after, .ngb-popover-primary + ngb-popover-window.bs-popover-auto[x-placement^="right"] .arrow::after {
  border-right-color: #26B4FF;
}
/* line 703, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.popover-primary.bs-popover-bottom .arrow::after, .popover-primary.bs-popover-auto[x-placement^="bottom"] .arrow::after, .popover-primary > .popover.bs-popover-bottom .arrow::after, .popover-primary > .popover.bs-popover-auto[x-placement^="bottom"] .arrow::after, .ngb-popover-primary + ngb-popover-window.bs-popover-bottom .arrow::after, .ngb-popover-primary + ngb-popover-window.bs-popover-auto[x-placement^="bottom"] .arrow::after {
  border-bottom-color: #26B4FF;
}
/* line 704, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.popover-primary.bs-popover-left .arrow::after, .popover-primary.bs-popover-auto[x-placement^="left"] .arrow::after, .popover-primary > .popover.bs-popover-left .arrow::after, .popover-primary > .popover.bs-popover-auto[x-placement^="left"] .arrow::after, .ngb-popover-primary + ngb-popover-window.bs-popover-left .arrow::after, .ngb-popover-primary + ngb-popover-window.bs-popover-auto[x-placement^="left"] .arrow::after {
  border-left-color: #26B4FF;
}

/* line 1283, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.table .table-primary,
.table .table-primary > th,
.table .table-primary > td {
  border-color: rgba(0, 0, 0, 0.035);
  background-color: #e9f8ff;
  color: #5d6366;
}

/* line 1291, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.table-hover .table-primary:hover,
.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
  background-color: #e7f6fc;
}

/* line 166, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.btn-primary {
  border-color: transparent;
  background: #26B4FF;
  color: #fff;
}
/* line 13, /Users/william/Documents/work/W21C/node_modules/bootstrap/scss/mixins/_hover.scss */
.btn-primary:hover {
  border-color: transparent;
  background: #24abf2;
  color: #fff;
}
/* line 178, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.btn-primary:focus, .btn-primary.focus {
  -webkit-box-shadow: 0 0 0 2px rgba(38, 180, 255, 0.4);
          box-shadow: 0 0 0 2px rgba(38, 180, 255, 0.4);
}
/* line 183, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.btn-primary.disabled, .btn-primary:disabled {
  border-color: transparent !important;
  background: #26B4FF !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  color: #fff !important;
}

/* line 192, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.btn-primary .badge {
  background: #fff;
  color: #26B4FF;
}

/* line 197, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.btn-primary:active,
.btn-primary.active,
.show > .btn-primary.dropdown-toggle {
  border-color: transparent;
  background: #219dde;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* line 211, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.btn-group .btn-primary,
.input-group-prepend .btn-primary,
.input-group-append .btn-primary {
  border-right: 1px solid #219dde;
  border-left: 1px solid #219dde;
}

/* line 302, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.btn-outline-primary {
  border-color: #26B4FF;
  background: transparent;
  color: #26B4FF;
}
/* line 13, /Users/william/Documents/work/W21C/node_modules/bootstrap/scss/mixins/_hover.scss */
.btn-outline-primary:hover {
  border-color: transparent;
  background: #26B4FF;
  color: #fff;
}
/* line 312, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.btn-outline-primary:hover .badge {
  background: #fff;
  color: #26B4FF;
}
/* line 318, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.btn-outline-primary:focus, .btn-outline-primary.focus {
  -webkit-box-shadow: 0 0 0 2px rgba(38, 180, 255, 0.4);
          box-shadow: 0 0 0 2px rgba(38, 180, 255, 0.4);
}
/* line 323, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  border-color: #26B4FF !important;
  background: transparent !important;
  color: #26B4FF !important;
}

/* line 331, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.btn-outline-primary .badge {
  background: #26B4FF;
  color: #fff;
}

/* line 336, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.btn-outline-primary:active,
.btn-outline-primary.active,
.show > .btn-outline-primary.dropdown-toggle {
  border-color: transparent;
  background: #24abf2;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}
/* line 349, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.btn-outline-primary:active .badge,
.btn-outline-primary.active .badge,
.show > .btn-outline-primary.dropdown-toggle .badge {
  background: #fff;
  color: #26B4FF;
}

/* line 457, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.dropdown-item:not(.disabled).active,
.dropdown-item:not(.disabled):active {
  background-color: #26B4FF;
  color: #fff;
}

/* line 463, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.dropdown-menu > li:not(.disabled) > a:not(.dropdown-item):active,
.dropdown-menu > li.active:not(.disabled) > a:not(.dropdown-item) {
  background-color: #26B4FF;
  color: #fff;
}

/* line 24, /Users/william/Documents/work/W21C/node_modules/bootstrap/scss/mixins/_hover.scss */
.nav-pills .nav-link.active, .nav-pills .nav-link.active:hover, .nav-pills .nav-link.active:focus {
  background-color: #26B4FF;
  color: #fff;
}

/* line 24, /Users/william/Documents/work/W21C/node_modules/bootstrap/scss/mixins/_hover.scss */
.tabs-alt.nav-tabs .nav-link.active, .tabs-alt.nav-tabs .nav-link.active:hover, .tabs-alt.nav-tabs .nav-link.active:focus,
.tabs-alt > .nav-tabs .nav-link.active,
.tabs-alt > .nav-tabs .nav-link.active:hover,
.tabs-alt > .nav-tabs .nav-link.active:focus {
  -webkit-box-shadow: 0 -2px 0 #26B4FF inset;
          box-shadow: 0 -2px 0 #26B4FF inset;
}

/* line 747, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.custom-control .custom-control-input:focus ~ .custom-control-label::before, .custom-control .custom-control-input:active ~ .custom-control-label::before {
  border-color: #26B4FF;
}
/* line 752, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.custom-control .custom-control-input:focus ~ .custom-control-label::before {
  -webkit-box-shadow: 0 0 0 2px rgba(38, 180, 255, 0.4);
          box-shadow: 0 0 0 2px rgba(38, 180, 255, 0.4);
}
/* line 757, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.custom-control.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before, .custom-control.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  border-color: #26B4FF;
  background-color: #26B4FF;
}
/* line 763, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.custom-control.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9.5 7.5'%3E%3Cpolyline points='0.75 4.35 4.18 6.75 8.75 0.75' style='fill:none;stroke:%23fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px'/%3E%3C/svg%3E");
}
/* line 767, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.custom-control.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Ccircle cx='5' cy='5' r='4.5' style='fill:%23fff'/%3E%3Cpath d='M5,1A4,4,0,1,1,1,5,4,4,0,0,1,5,1M5,0a5,5,0,1,0,5,5A5,5,0,0,0,5,0Z' style='fill:%23fff'/%3E%3C/svg%3E");
}

/* line 1011, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.custom-file-input:focus ~ .custom-file-label {
  border-color: #26B4FF;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
/* line 1015, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.custom-file-input:focus ~ .custom-file-label::after {
  border-color: inherit;
}

/* line 1056, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.form-control:focus,
.custom-select:focus {
  border-color: #26B4FF;
}

/* line 1186, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.switcher-input:checked ~ .switcher-indicator {
  background: #26B4FF;
  color: #fff;
}

/* line 1191, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.switcher-input:focus ~ .switcher-indicator {
  -webkit-box-shadow: 0 0 0 2px rgba(38, 180, 255, 0.4);
          box-shadow: 0 0 0 2px rgba(38, 180, 255, 0.4);
}

/* line 1195, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.switcher-input:active ~ .switcher-indicator {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

/* line 1304, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.navbar.bg-primary {
  background-color: #26B4FF !important;
  color: #daf2ff;
}
/* line 1308, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.navbar.bg-primary .navbar-brand {
  color: #fff;
}
/* line 17, /Users/william/Documents/work/W21C/node_modules/bootstrap/scss/mixins/_hover.scss */
.navbar.bg-primary .navbar-brand:hover, .navbar.bg-primary .navbar-brand:focus {
  color: #fff;
}
/* line 1317, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.navbar.bg-primary .navbar-nav .nav-link {
  color: #daf2ff;
}
/* line 17, /Users/william/Documents/work/W21C/node_modules/bootstrap/scss/mixins/_hover.scss */
.navbar.bg-primary .navbar-nav .nav-link:hover, .navbar.bg-primary .navbar-nav .nav-link:focus {
  color: #fff;
}
/* line 1324, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.navbar.bg-primary .navbar-nav .nav-link.disabled {
  color: #92d9ff !important;
}
/* line 1329, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.navbar.bg-primary .navbar-nav .show > .nav-link,
.navbar.bg-primary .navbar-nav .active > .nav-link,
.navbar.bg-primary .navbar-nav .nav-link.show,
.navbar.bg-primary .navbar-nav .nav-link.active {
  color: #fff;
}
/* line 1337, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.navbar.bg-primary .navbar-toggler {
  color: #daf2ff;
  border-color: rgba(255, 255, 255, 0.15);
}
/* line 1342, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.navbar.bg-primary .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
/* line 1346, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.navbar.bg-primary .navbar-text {
  color: #daf2ff;
}
/* line 1349, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.navbar.bg-primary .navbar-text a {
  color: #fff;
}
/* line 17, /Users/william/Documents/work/W21C/node_modules/bootstrap/scss/mixins/_hover.scss */
.navbar.bg-primary .navbar-text a:hover, .navbar.bg-primary .navbar-text a:focus {
  color: #fff;
}
/* line 1358, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.navbar.bg-primary hr {
  border-color: rgba(255, 255, 255, 0.15);
}

/* line 1377, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.sidenav.bg-primary {
  background-color: #26B4FF !important;
  color: #daf2ff;
}
/* line 1381, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.sidenav.bg-primary .sidenav-link,
.sidenav.bg-primary .sidenav-horizontal-prev,
.sidenav.bg-primary .sidenav-horizontal-next {
  color: #daf2ff;
}
/* line 17, /Users/william/Documents/work/W21C/node_modules/bootstrap/scss/mixins/_hover.scss */
.sidenav.bg-primary .sidenav-link:hover, .sidenav.bg-primary .sidenav-link:focus,
.sidenav.bg-primary .sidenav-horizontal-prev:hover,
.sidenav.bg-primary .sidenav-horizontal-prev:focus,
.sidenav.bg-primary .sidenav-horizontal-next:hover,
.sidenav.bg-primary .sidenav-horizontal-next:focus {
  color: #fff;
}
/* line 1390, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.sidenav.bg-primary .sidenav-link.active,
.sidenav.bg-primary .sidenav-horizontal-prev.active,
.sidenav.bg-primary .sidenav-horizontal-next.active {
  color: #fff;
}
/* line 1395, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.sidenav.bg-primary .sidenav-item.disabled .sidenav-link,
.sidenav.bg-primary .sidenav-horizontal-prev.disabled,
.sidenav.bg-primary .sidenav-horizontal-next.disabled {
  color: #92d9ff !important;
}
/* line 1401, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.sidenav.bg-primary .sidenav-item.open:not(.sidenav-item-closing) > .sidenav-toggle,
.sidenav.bg-primary .sidenav-item.active > .sidenav-link {
  color: #fff;
}
/* line 1406, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.sidenav.bg-primary .sidenav-item.active > .sidenav-link:not(.sidenav-toggle) {
  background-color: #24abf2;
}
/* line 1410, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.sidenav.bg-primary.sidenav-horizontal .sidenav-menu > .sidenav-item.active > .sidenav-link:not(.sidenav-toggle) {
  background-color: #22a2e6;
}
/* line 1414, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.sidenav.bg-primary.sidenav-horizontal .sidenav-inner > .sidenav-item:not(.sidenav-item-closing) > .sidenav-menu, .sidenav.bg-primary.sidenav-horizontal .sidenav-inner > .sidenav-item.open > .sidenav-toggle {
  background: #24abf2;
}
/* line 1419, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.sidenav.bg-primary .sidenav-inner > .sidenav-item.sidenav-item-closing .sidenav-item.open .sidenav-menu,
.sidenav.bg-primary .sidenav-inner > .sidenav-item.sidenav-item-closing .sidenav-item.open .sidenav-toggle {
  background: transparent;
  color: #daf2ff;
}
/* line 1425, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.sidenav.bg-primary .sidenav-text {
  color: #fff;
}
/* line 1429, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.sidenav.bg-primary .sidenav-header {
  color: #ade3ff;
}
/* line 1433, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.sidenav.bg-primary hr,
.sidenav.bg-primary .sidenav-divider,
.sidenav.bg-primary .sidenav-inner > .sidenav-item.open > .sidenav-menu::before {
  border-color: rgba(255, 255, 255, 0.15) !important;
}
/* line 1439, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.sidenav.bg-primary .sidenav-inner > .sidenav-header::before,
.sidenav.bg-primary .sidenav-block::before {
  background-color: rgba(255, 255, 255, 0.15);
}
/* line 1444, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.sidenav.bg-primary .sidenav-inner > .sidenav-item.open .sidenav-item.open > .sidenav-toggle::before {
  background-color: #45b8f4;
}
/* line 1448, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.sidenav.bg-primary .sidenav-inner > .sidenav-item.open .sidenav-item.active > .sidenav-link::before {
  background-color: #fff;
}
/* line 1452, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.sidenav.bg-primary .sidenav-inner > .sidenav-item.open .sidenav-item.open > .sidenav-toggle::before,
.sidenav.bg-primary .sidenav-inner > .sidenav-item.open .sidenav-item.active > .sidenav-link::before {
  -webkit-box-shadow: 0 0 0 2px #24abf2;
          box-shadow: 0 0 0 2px #24abf2;
}
/* line 1457, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.sidenav.bg-primary .ps__thumb-y,
.sidenav.bg-primary .ps__rail-y.ps--clicking > .ps__thumb-y {
  background: rgba(255, 255, 255, 0.6291639216) !important;
}

/* line 1470, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.footer.bg-primary {
  background-color: #26B4FF !important;
  color: #daf2ff;
}
/* line 1474, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.footer.bg-primary .footer-link {
  color: #daf2ff;
}
/* line 17, /Users/william/Documents/work/W21C/node_modules/bootstrap/scss/mixins/_hover.scss */
.footer.bg-primary .footer-link:hover, .footer.bg-primary .footer-link:focus {
  color: #fff;
}
/* line 1481, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.footer.bg-primary .footer-link.disabled {
  color: #92d9ff !important;
}
/* line 1486, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.footer.bg-primary .footer-text {
  color: #fff;
}
/* line 1490, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.footer.bg-primary .show > .footer-link,
.footer.bg-primary .active > .footer-link,
.footer.bg-primary .footer-link.show,
.footer.bg-primary .footer-link.active {
  color: #fff;
}
/* line 1497, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.footer.bg-primary hr {
  border-color: rgba(255, 255, 255, 0.15);
}

/* line 29, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_theme/_common.scss */
.fill-primary {
  fill: #26B4FF;
}

/* line 2, /Users/william/Documents/work/W21C/vendor/assets/libs/bootstrap-slider/_mixins.scss */
.slider-primary .slider-selection,
.slider-primary .slider-reversed .slider-track-high, .slider-primary.slider-reversed .slider-track-high {
  background: #26B4FF;
}

/* line 11, /Users/william/Documents/work/W21C/vendor/assets/libs/nouislider/_mixins.scss */
.noUi-primary .noUi-base .noUi-connect {
  background: #26B4FF !important;
}

/* line 23, /Users/william/Documents/work/W21C/vendor/assets/libs/select2/_mixins.scss */
.default-style .select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #26B4FF !important;
  color: #fff !important;
}
/* line 28, /Users/william/Documents/work/W21C/vendor/assets/libs/select2/_mixins.scss */
.default-style .select2-container--default.select2-container--focus .select2-selection, .default-style .select2-container--default.select2-container--open .select2-selection {
  border-color: #26B4FF !important;
}

/* line 6, /Users/william/Documents/work/W21C/vendor/assets/libs/select2/_mixins.scss */
.default-style .select2-primary .select2-container--default .select2-selection--multiple .select2-selection__choice {
  background: #26B4FF;
  color: #fff;
}

/* line 2, /Users/william/Documents/work/W21C/vendor/assets/libs/bootstrap-tagsinput/_mixins.scss */
.bootstrap-tagsinput.focus {
  border-color: #26B4FF !important;
}

/* line 6, /Users/william/Documents/work/W21C/vendor/assets/libs/bootstrap-select/_mixins.scss */
.bootstrap-select .dropdown-menu.inner a[aria-selected=true] {
  background: #26B4FF !important;
  color: #fff !important;
}

/* line 9, /Users/william/Documents/work/W21C/vendor/assets/libs/bootstrap-datepicker/_mixins.scss */
.datepicker table tr td.active, .datepicker table tr td.active.highlighted, .datepicker table tr td.active.today,
.datepicker table tr td span.active,
.datepicker table tr td span.active.disabled, .datepicker table tr td.range-start, .datepicker table tr td.range-end {
  background: #26B4FF !important;
  color: #fff !important;
}
/* line 20, /Users/william/Documents/work/W21C/vendor/assets/libs/bootstrap-datepicker/_mixins.scss */
.datepicker table tr td.range, .datepicker table tr td.range.highlighted, .datepicker table tr td.range.today {
  background: #def4ff !important;
  color: #596266 !important;
}
/* line 26, /Users/william/Documents/work/W21C/vendor/assets/libs/bootstrap-datepicker/_mixins.scss */
.datepicker table tr td.range.focused, .datepicker table tr td.range.highlighted.focused, .datepicker table tr td.range.today.focused {
  background: #bfeaff !important;
}
/* line 30, /Users/william/Documents/work/W21C/vendor/assets/libs/bootstrap-datepicker/_mixins.scss */
.datepicker table tr td.range.disabled, .datepicker table tr td.range.highlighted.disabled, .datepicker table tr td.range.today.disabled {
  background: rgba(222, 244, 255, 0.5) !important;
  color: rgba(89, 98, 102, 0.5) !important;
}

/* line 8, /Users/william/Documents/work/W21C/vendor/assets/libs/bootstrap-daterangepicker/_mixins.scss */
.daterangepicker td.active {
  background-color: #26B4FF !important;
  color: #fff !important;
}

/* line 13, /Users/william/Documents/work/W21C/vendor/assets/libs/bootstrap-daterangepicker/_mixins.scss */
.daterangepicker td.in-range:not(.start-date):not(.end-date):not(.off) {
  background-color: #def4ff !important;
  color: #596266 !important;
}

/* line 18, /Users/william/Documents/work/W21C/vendor/assets/libs/bootstrap-daterangepicker/_mixins.scss */
.daterangepicker .input-mini.active {
  border-color: #26B4FF !important;
}

/* line 22, /Users/william/Documents/work/W21C/vendor/assets/libs/bootstrap-daterangepicker/_mixins.scss */
.ranges li.active {
  background-color: #26B4FF !important;
  color: #fff !important;
}

/* line 6, /Users/william/Documents/work/W21C/vendor/assets/libs/bootstrap-material-datetimepicker/_mixins.scss */
.dtp-date,
.dtp-time {
  background: #26B4FF;
  color: #fff;
}

/* line 12, /Users/william/Documents/work/W21C/vendor/assets/libs/bootstrap-material-datetimepicker/_mixins.scss */
.dtp-close > a {
  color: #fff;
}

/* line 14, /Users/william/Documents/work/W21C/vendor/assets/libs/bootstrap-material-datetimepicker/_mixins.scss */
header.dtp-header {
  background: #2099d9;
  color: #fff;
}

/* line 19, /Users/william/Documents/work/W21C/vendor/assets/libs/bootstrap-material-datetimepicker/_mixins.scss */
table.dtp-picker-days tr > td > a.selected {
  background: #26B4FF;
  color: #fff !important;
}

/* line 24, /Users/william/Documents/work/W21C/vendor/assets/libs/bootstrap-material-datetimepicker/_mixins.scss */
.dtp-actual-meridien a.selected {
  background: #26B4FF !important;
  color: #fff !important;
}

/* line 30, /Users/william/Documents/work/W21C/vendor/assets/libs/bootstrap-material-datetimepicker/_mixins.scss */
.dtp .year-picker-item:hover {
  color: #26B4FF;
}
/* line 31, /Users/william/Documents/work/W21C/vendor/assets/libs/bootstrap-material-datetimepicker/_mixins.scss */
.dtp .year-picker-item.active {
  color: #26B4FF;
}

/* line 34, /Users/william/Documents/work/W21C/vendor/assets/libs/bootstrap-material-datetimepicker/_mixins.scss */
.dtp .svg-clock [stroke="#8BC34A"] {
  stroke: #26B4FF !important;
}

/* line 35, /Users/william/Documents/work/W21C/vendor/assets/libs/bootstrap-material-datetimepicker/_mixins.scss */
.dtp .svg-clock [fill="#8BC34A"] {
  fill: #26B4FF !important;
}

/* line 36, /Users/william/Documents/work/W21C/vendor/assets/libs/bootstrap-material-datetimepicker/_mixins.scss */
.dtp .svg-clock [fill="#fff"] {
  fill: #fff !important;
}

/* line 6, /Users/william/Documents/work/W21C/vendor/assets/libs/timepicker/_mixins.scss */
li.ui-timepicker-selected,
.ui-timepicker-list .ui-timepicker-selected:hover {
  background: #26B4FF !important;
  color: #fff !important;
}

/* line 6, /Users/william/Documents/work/W21C/vendor/assets/libs/growl/_mixins.scss */
.growl-default {
  background: #26B4FF !important;
  color: #fff !important;
}

/* line 2, /Users/william/Documents/work/W21C/vendor/assets/libs/bootstrap-markdown/_mixins.scss */
.md-editor.active {
  border-color: #26B4FF !important;
}

/* line 71, /Users/william/Documents/work/W21C/vendor/assets/libs/quill/_mixins.scss */
.ql-snow.ql-toolbar button:hover,
.ql-snow.ql-toolbar button:focus,
.ql-snow.ql-toolbar button.ql-active,
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow .ql-toolbar button:hover,
.ql-snow .ql-toolbar button:focus,
.ql-snow .ql-toolbar button.ql-active,
.ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-snow .ql-toolbar .ql-picker-item:hover,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
  color: #26B4FF !important;
}
/* line 81, /Users/william/Documents/work/W21C/vendor/assets/libs/quill/_mixins.scss */
.ql-snow.ql-toolbar button:hover .ql-fill,
.ql-snow.ql-toolbar button:focus .ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button:focus .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:hover .ql-fill,
.ql-snow .ql-toolbar button:focus .ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow .ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:focus .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill {
  fill: #26B4FF !important;
}
/* line 98, /Users/william/Documents/work/W21C/vendor/assets/libs/quill/_mixins.scss */
.ql-snow.ql-toolbar button:hover .ql-stroke,
.ql-snow.ql-toolbar button:focus .ql-stroke,
.ql-snow.ql-toolbar button.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow.ql-toolbar button:hover .ql-stroke-miter,
.ql-snow.ql-toolbar button:focus .ql-stroke-miter,
.ql-snow.ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter,
.ql-snow .ql-toolbar button:hover .ql-stroke,
.ql-snow .ql-toolbar button:focus .ql-stroke,
.ql-snow .ql-toolbar button.ql-active .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow .ql-toolbar button:hover .ql-stroke-miter,
.ql-snow .ql-toolbar button:focus .ql-stroke-miter,
.ql-snow .ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
  stroke: #26B4FF !important;
}

/* line 6, /Users/william/Documents/work/W21C/vendor/assets/libs/typeahead-js/_mixins.scss */
.tt-suggestion:active,
.tt-cursor {
  background: #26B4FF !important;
  color: #fff !important;
}

/* line 2, /Users/william/Documents/work/W21C/vendor/assets/libs/dropzone/_mixins.scss */
.dropzone.dz-drag-hover {
  border-color: #26B4FF !important;
}

/* line 2, /Users/william/Documents/work/W21C/vendor/assets/libs/swiper/_mixins.scss */
.swiper-pagination-bullet.swiper-pagination-bullet-active,
.swiper-pagination.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #26B4FF !important;
}

/* line 2, /Users/william/Documents/work/W21C/vendor/assets/libs/spinkit/_mixins.scss */
.sk-primary.sk-rotating-plane,
.sk-primary.sk-double-bounce .sk-child,
.sk-primary.sk-wave .sk-rect,
.sk-primary.sk-wandering-cubes .sk-cube,
.sk-primary.sk-spinner-pulse,
.sk-primary.sk-chasing-dots .sk-child,
.sk-primary.sk-three-bounce .sk-child,
.sk-primary.sk-circle .sk-child:before,
.sk-primary.sk-cube-grid .sk-cube,
.sk-primary.sk-fading-circle .sk-circle:before,
.sk-primary.sk-folding-cube .sk-cube:before {
  background-color: #26B4FF;
}

/* line 2, /Users/william/Documents/work/W21C/vendor/assets/libs/smartwizard/_mixins.scss */
.sw-theme-default .step-anchor > li.active > a .sw-icon,
.sw-theme-default .step-anchor > li.active > a .sw-number {
  color: #26B4FF;
  border-color: #26B4FF;
}

/* line 2, /Users/william/Documents/work/W21C/vendor/assets/libs/plyr/_mixins.scss */
.plyr input[type='range']::-ms-fill-lower {
  background: #26B4FF !important;
}

/* line 7, /Users/william/Documents/work/W21C/vendor/assets/libs/plyr/_mixins.scss */
.plyr input[type='range']:active::-webkit-slider-thumb {
  background: #26B4FF !important;
}
/* line 10, /Users/william/Documents/work/W21C/vendor/assets/libs/plyr/_mixins.scss */
.plyr input[type='range']:active::-moz-range-thumb {
  background: #26B4FF !important;
}
/* line 13, /Users/william/Documents/work/W21C/vendor/assets/libs/plyr/_mixins.scss */
.plyr input[type='range']:active::-ms-thumb {
  background: #26B4FF !important;
}

/* line 18, /Users/william/Documents/work/W21C/vendor/assets/libs/plyr/_mixins.scss */
.plyr--video .plyr__controls button.tab-focus:focus,
.plyr--video .plyr__controls button:hover {
  background: #26B4FF !important;
  color: !important;
}

/* line 24, /Users/william/Documents/work/W21C/vendor/assets/libs/plyr/_mixins.scss */
.plyr--audio .plyr__controls button.tab-focus:focus,
.plyr--audio .plyr__controls button:hover {
  background: #26B4FF !important;
  color: !important;
}

/* line 30, /Users/william/Documents/work/W21C/vendor/assets/libs/plyr/_mixins.scss */
.plyr__play-large {
  background: #26B4FF !important;
  color: !important;
}

/* line 35, /Users/william/Documents/work/W21C/vendor/assets/libs/plyr/_mixins.scss */
.plyr__progress--played,
.plyr__volume--display {
  color: #26B4FF !important;
}

/* line 13, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/_mixins.scss */
.fc-event,
.fc-event-dot {
  background: rgba(38, 180, 255, 0.15) !important;
}

/* line 18, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/_mixins.scss */
.fc-highlight,
.fc-bgevent {
  background: #26B4FF !important;
}

/* line 2, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_theme/_uikit.scss */
.ui-product-color.active {
  -webkit-box-shadow: 0 0 0 2px #fff, 0 0 0 4px #26B4FF !important;
          box-shadow: 0 0 0 2px #fff, 0 0 0 4px #26B4FF !important;
}

/* line 1304, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.bg-navbar-theme {
  background-color: #fff !important;
  color: #a3a4a6;
}
/* line 1308, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.bg-navbar-theme .navbar-brand {
  color: #4E5155;
}
/* line 17, /Users/william/Documents/work/W21C/node_modules/bootstrap/scss/mixins/_hover.scss */
.bg-navbar-theme .navbar-brand:hover, .bg-navbar-theme .navbar-brand:focus {
  color: #4E5155;
}
/* line 1317, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.bg-navbar-theme .navbar-nav .nav-link {
  color: #a3a4a6;
}
/* line 17, /Users/william/Documents/work/W21C/node_modules/bootstrap/scss/mixins/_hover.scss */
.bg-navbar-theme .navbar-nav .nav-link:hover, .bg-navbar-theme .navbar-nav .nav-link:focus {
  color: #4E5155;
}
/* line 1324, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.bg-navbar-theme .navbar-nav .nav-link.disabled {
  color: #c8c8ca !important;
}
/* line 1329, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.bg-navbar-theme .navbar-nav .show > .nav-link,
.bg-navbar-theme .navbar-nav .active > .nav-link,
.bg-navbar-theme .navbar-nav .nav-link.show,
.bg-navbar-theme .navbar-nav .nav-link.active {
  color: #4E5155;
}
/* line 1337, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.bg-navbar-theme .navbar-toggler {
  color: #a3a4a6;
  border-color: rgba(78, 81, 85, 0.075);
}
/* line 1342, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.bg-navbar-theme .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(24, 28, 33, 0.4)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
/* line 1346, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.bg-navbar-theme .navbar-text {
  color: #a3a4a6;
}
/* line 1349, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.bg-navbar-theme .navbar-text a {
  color: #4E5155;
}
/* line 17, /Users/william/Documents/work/W21C/node_modules/bootstrap/scss/mixins/_hover.scss */
.bg-navbar-theme .navbar-text a:hover, .bg-navbar-theme .navbar-text a:focus {
  color: #4E5155;
}
/* line 1358, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.bg-navbar-theme hr {
  border-color: rgba(78, 81, 85, 0.075);
}

/* line 21, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/theme-corporate.scss */
.layout-navbar {
  -webkit-box-shadow: 0 1px 0 rgba(24, 28, 33, 0.04);
          box-shadow: 0 1px 0 rgba(24, 28, 33, 0.04);
}

/* line 1377, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.bg-sidenav-theme {
  background-color: #2e323a !important;
  color: #838790;
}
/* line 1381, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.bg-sidenav-theme .sidenav-link,
.bg-sidenav-theme .sidenav-horizontal-prev,
.bg-sidenav-theme .sidenav-horizontal-next {
  color: #838790;
}
/* line 17, /Users/william/Documents/work/W21C/node_modules/bootstrap/scss/mixins/_hover.scss */
.bg-sidenav-theme .sidenav-link:hover, .bg-sidenav-theme .sidenav-link:focus,
.bg-sidenav-theme .sidenav-horizontal-prev:hover,
.bg-sidenav-theme .sidenav-horizontal-prev:focus,
.bg-sidenav-theme .sidenav-horizontal-next:hover,
.bg-sidenav-theme .sidenav-horizontal-next:focus {
  color: #fff;
}
/* line 1390, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.bg-sidenav-theme .sidenav-link.active,
.bg-sidenav-theme .sidenav-horizontal-prev.active,
.bg-sidenav-theme .sidenav-horizontal-next.active {
  color: #fff;
}
/* line 1395, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.bg-sidenav-theme .sidenav-item.disabled .sidenav-link,
.bg-sidenav-theme .sidenav-horizontal-prev.disabled,
.bg-sidenav-theme .sidenav-horizontal-next.disabled {
  color: #61656e !important;
}
/* line 1401, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.bg-sidenav-theme .sidenav-item.open:not(.sidenav-item-closing) > .sidenav-toggle,
.bg-sidenav-theme .sidenav-item.active > .sidenav-link {
  color: #fff;
}
/* line 1406, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.bg-sidenav-theme .sidenav-item.active > .sidenav-link:not(.sidenav-toggle) {
  background-color: #383c44;
}
/* line 1410, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.bg-sidenav-theme.sidenav-horizontal .sidenav-menu > .sidenav-item.active > .sidenav-link:not(.sidenav-toggle) {
  background-color: #42464d;
}
/* line 1414, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.bg-sidenav-theme.sidenav-horizontal .sidenav-inner > .sidenav-item:not(.sidenav-item-closing) > .sidenav-menu, .bg-sidenav-theme.sidenav-horizontal .sidenav-inner > .sidenav-item.open > .sidenav-toggle {
  background: #383c44;
}
/* line 1419, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.bg-sidenav-theme .sidenav-inner > .sidenav-item.sidenav-item-closing .sidenav-item.open .sidenav-menu,
.bg-sidenav-theme .sidenav-inner > .sidenav-item.sidenav-item-closing .sidenav-item.open .sidenav-toggle {
  background: transparent;
  color: #838790;
}
/* line 1425, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.bg-sidenav-theme .sidenav-text {
  color: #fff;
}
/* line 1429, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.bg-sidenav-theme .sidenav-header {
  color: #6e727b;
}
/* line 1433, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.bg-sidenav-theme hr,
.bg-sidenav-theme .sidenav-divider,
.bg-sidenav-theme .sidenav-inner > .sidenav-item.open > .sidenav-menu::before {
  border-color: rgba(255, 255, 255, 0.06) !important;
}
/* line 1439, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.bg-sidenav-theme .sidenav-inner > .sidenav-header::before,
.bg-sidenav-theme .sidenav-block::before {
  background-color: rgba(255, 255, 255, 0.06);
}
/* line 1444, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.bg-sidenav-theme .sidenav-inner > .sidenav-item.open .sidenav-item.open > .sidenav-toggle::before {
  background-color: #44484f;
}
/* line 1448, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.bg-sidenav-theme .sidenav-inner > .sidenav-item.open .sidenav-item.active > .sidenav-link::before {
  background-color: #fff;
}
/* line 1452, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.bg-sidenav-theme .sidenav-inner > .sidenav-item.open .sidenav-item.open > .sidenav-toggle::before,
.bg-sidenav-theme .sidenav-inner > .sidenav-item.open .sidenav-item.active > .sidenav-link::before {
  -webkit-box-shadow: 0 0 0 2px #383c44;
          box-shadow: 0 0 0 2px #383c44;
}
/* line 1457, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.bg-sidenav-theme .ps__thumb-y,
.bg-sidenav-theme .ps__rail-y.ps--clicking > .ps__thumb-y {
  background: rgba(255, 255, 255, 0.4779858824) !important;
}

/* line 1470, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.bg-footer-theme {
  background-color: #fff !important;
  color: #a3a4a6;
}
/* line 1474, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.bg-footer-theme .footer-link {
  color: #a3a4a6;
}
/* line 17, /Users/william/Documents/work/W21C/node_modules/bootstrap/scss/mixins/_hover.scss */
.bg-footer-theme .footer-link:hover, .bg-footer-theme .footer-link:focus {
  color: #4E5155;
}
/* line 1481, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.bg-footer-theme .footer-link.disabled {
  color: #c8c8ca !important;
}
/* line 1486, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.bg-footer-theme .footer-text {
  color: #4E5155;
}
/* line 1490, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.bg-footer-theme .show > .footer-link,
.bg-footer-theme .active > .footer-link,
.bg-footer-theme .footer-link.show,
.bg-footer-theme .footer-link.active {
  color: #4E5155;
}
/* line 1497, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/_appwork/_mixins.scss */
.bg-footer-theme hr {
  border-color: rgba(78, 81, 85, 0.075);
}
