/* line 7, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/authentication.scss */
.authentication-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  min-height: 100vh;
  width: 100%;
}
/* line 13, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/authentication.scss */
.authentication-wrapper .authentication-inner {
  width: 100%;
}
/* line 17, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/authentication.scss */
.authentication-wrapper.authentication-1, .authentication-wrapper.authentication-2, .authentication-wrapper.authentication-4 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/* line 24, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/authentication.scss */
.authentication-wrapper.authentication-1 .authentication-inner {
  max-width: 300px;
}
/* line 28, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/authentication.scss */
.authentication-wrapper.authentication-2 .authentication-inner {
  max-width: 380px;
}
/* line 32, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/authentication.scss */
.authentication-wrapper.authentication-3 {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}
/* line 36, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/authentication.scss */
.authentication-wrapper.authentication-3 .authentication-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}
/* line 44, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/authentication.scss */
.authentication-wrapper.authentication-4 .authentication-inner {
  max-width: 800px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* line 51, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/authentication.scss */
  .authentication-wrapper:after {
    content: '';
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 0%;
            flex: 0 0 0%;
    min-height: inherit;
    width: 0;
    font-size: 0;
  }
}
