/* line 9, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/chat.scss */
.chat-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  min-height: 400px;
  width: 100%;
}

/* line 17, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/chat.scss */
.chat-sidebox {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 16rem;
      flex-basis: 16rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  width: 16rem;
  -webkit-transition: .2s all;
  transition: .2s all;
  -webkit-transform: translateX(-101%);
          transform: translateX(-101%);
}
/* line 31, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/chat.scss */
[dir=rtl] .chat-sidebox {
  right: 0;
  left: auto;
  -webkit-transform: translateX(101%);
          transform: translateX(101%);
}

/* line 38, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/chat.scss */
.chat-sidebox-open .chat-sidebox {
  -webkit-transform: none !important;
          transform: none !important;
}

/* line 42, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/chat.scss */
.chat-search {
  border-radius: 10rem;
}

/* line 46, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/chat.scss */
.chat-contacts .list-group-item {
  z-index: auto !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 0.625rem;
  width: 100%;
  border: 0;
  border-radius: 0;
}
/* line 57, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/chat.scss */
.chat-contacts .list-group-item.active {
  font-weight: bold;
}
/* line 61, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/chat.scss */
.chat-contacts .list-group-item:not(.active) {
  opacity: .7;
}
/* line 64, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/chat.scss */
.chat-contacts .list-group-item:not(.active):hover, .chat-contacts .list-group-item:not(.active):focus, .chat-contacts .list-group-item:not(.active):active {
  opacity: 1;
}
/* line 71, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/chat.scss */
.chat-contacts .list-group-item.online {
  opacity: 1;
}
/* line 75, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/chat.scss */
.chat-contacts .list-group-item .chat-status {
  font-weight: normal !important;
}

/* line 80, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/chat.scss */
.chat-messages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 85, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/chat.scss */
.chat-message-left,
.chat-message-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

/* line 91, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/chat.scss */
.chat-message-left {
  margin-right: auto;
}
/* line 94, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/chat.scss */
[dir=rtl] .chat-message-left {
  margin-right: 0;
  margin-left: auto;
}

/* line 100, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/chat.scss */
.chat-message-right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-left: auto;
}
/* line 104, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/chat.scss */
[dir=rtl] .chat-message-right {
  margin-right: auto;
  margin-left: 0;
}

/* line 110, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/chat.scss */
.chat-scroll {
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 123, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/chat.scss */
.default-style .chat-sidebox {
  background: #fff;
  -webkit-box-shadow: 0 0 0 1px rgba(24, 28, 33, 0.06);
          box-shadow: 0 0 0 1px rgba(24, 28, 33, 0.06);
}
/* line 128, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/chat.scss */
.default-style .chat-contacts .list-group-item {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
/* line 132, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/chat.scss */
.default-style .chat-contacts .list-group-item:not(.active) {
  color: #4E5155;
}
/* line 136, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/chat.scss */
.default-style .chat-contacts .list-group-item .chat-status {
  color: #d9534f;
}
/* line 140, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/chat.scss */
.default-style .chat-contacts .list-group-item .chat-status .badge {
  background: #d9534f;
}
/* line 144, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/chat.scss */
.default-style .chat-contacts .list-group-item.online .chat-status {
  color: #02BC77;
}
/* line 148, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/chat.scss */
.default-style .chat-contacts .list-group-item.online .chat-status .badge {
  background: #02BC77;
}
/* line 152, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/chat.scss */
.default-style .chat-contacts .list-group-item.active .chat-status {
  color: #fff;
}
/* line 156, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/chat.scss */
.default-style .chat-contacts .list-group-item.active .chat-status .badge {
  background: #fff;
}
@media (min-width: 992px) {
  /* line 162, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/chat.scss */
  .default-style .chat-sidebox {
    position: relative !important;
    -webkit-transform: none !important;
            transform: none !important;
  }
}

/* line 172, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/chat.scss */
.material-style .chat-sidebox {
  background: #fff;
  -webkit-box-shadow: 0 0 0 1px rgba(24, 28, 33, 0.06);
          box-shadow: 0 0 0 1px rgba(24, 28, 33, 0.06);
}
/* line 177, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/chat.scss */
.material-style .chat-contacts .list-group-item {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
/* line 181, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/chat.scss */
.material-style .chat-contacts .list-group-item:not(.active) {
  color: #4E5155;
}
/* line 185, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/chat.scss */
.material-style .chat-contacts .list-group-item .chat-status {
  color: #d9534f;
}
/* line 189, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/chat.scss */
.material-style .chat-contacts .list-group-item .chat-status .badge {
  background: #d9534f;
}
/* line 193, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/chat.scss */
.material-style .chat-contacts .list-group-item.online .chat-status {
  color: #02BC77;
}
/* line 197, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/chat.scss */
.material-style .chat-contacts .list-group-item.online .chat-status .badge {
  background: #02BC77;
}
/* line 201, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/chat.scss */
.material-style .chat-contacts .list-group-item.active .chat-status {
  color: #fff;
}
/* line 205, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/chat.scss */
.material-style .chat-contacts .list-group-item.active .chat-status .badge {
  background: #fff;
}
@media (min-width: 992px) {
  /* line 211, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/chat.scss */
  .material-style .chat-sidebox {
    position: relative !important;
    -webkit-transform: none !important;
            transform: none !important;
  }
}
