/* line 14, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
.messages-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  width: 100%;
}

/* line 22, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
.messages-card {
  overflow: hidden;
}

/* line 26, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
.messages-wrapper,
.messages-sidebox {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

/* line 31, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
.messages-sidebox {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

/* line 36, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
.messages-wrapper .messages-sidebox, .messages-card .messages-sidebox {
  position: fixed;
  left: calc(-14rem - 1px);
  z-index: 10;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 14rem;
}
/* line 45, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
[dir=rtl] .messages-wrapper .messages-sidebox,
[dir=rtl] .messages-card .messages-sidebox {
  right: calc(-14rem - 1px);
  left: auto;
}

/* line 51, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
.layout-sidenav-100vh .messages-wrapper .messages-sidebox {
  height: 100vh;
}

/* line 55, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
.messages-wrapper .messages-sidebox {
  background: #f3f3f3;
}

/* line 59, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
.messages-card .messages-sidebox {
  position: absolute;
  bottom: 0;
}

/* line 64, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
.messages-scroll {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
}
/* line 70, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
.messages-scroll.messages-content {
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
}

/* line 80, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
.messages-list .list-group-item {
  z-index: auto !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  width: 100%;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}
/* line 92, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
.messages-list .list-group-item:first-child {
  border-top: 0;
}
/* line 96, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
.messages-list .list-group-item:last-child {
  border-bottom: 0;
}
/* line 100, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
.messages-list .list-group-item > * {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

/* line 106, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
.message-checkbox .custom-control {
  display: block !important;
  margin: 0;
  margin-top: -1px;
}

/* line 112, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
.message-sender {
  min-width: 10rem;
}

/* line 116, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
.message-subject {
  width: 100%;
}

/* line 120, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
.message-date {
  white-space: nowrap;
}

/* line 126, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
.message-attachment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
/* line 131, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
.message-attachment > .media-body {
  min-width: 0;
}

/* line 136, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
.message-attachment-file,
.message-attachment-img {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 4rem;
  height: 4rem;
}

/* line 145, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
.message-attachment-file {
  display: inline-block;
  text-align: center;
  line-height: 4rem;
}

/* line 151, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
.message-attachment-img {
  background-color: transparent;
  background-position: center center;
  background-size: cover;
}

/* line 157, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
.message-attachment-filename {
  display: block;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 169, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
.default-style .messages-wrapper .messages-sidebox {
  z-index: 1081;
}
/* line 173, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
.default-style .messages-sidebox-open .messages-sidebox {
  left: 0;
}
/* line 177, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
.default-style .messages-card .messages-sidebox {
  background: #fff;
  -webkit-box-shadow: 0 0 0 1px rgba(24, 28, 33, 0.06);
          box-shadow: 0 0 0 1px rgba(24, 28, 33, 0.06);
}
@media (min-width: 576px) {
  /* line 183, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
  .default-style .messages-list .list-group-item {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  /* line 187, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
  .default-style .message-subject {
    width: auto;
  }
  /* line 191, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
  .default-style .message-date {
    margin-left: auto;
  }
}
@media (min-width: 768px) {
  /* line 197, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
  .default-style .messages-sidebox {
    -ms-flex-preferred-size: 14rem;
        flex-basis: 14rem;
  }
  /* line 201, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
  .default-style .messages-wrapper .messages-sidebox {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}
@media (min-width: 992px) {
  /* line 207, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
  .default-style .messages-wrapper,
  .default-style .messages-sidebox {
    -webkit-transition: none !important;
    transition: none !important;
  }
  /* line 212, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
  .default-style .messages-wrapper {
    padding-left: 14rem;
  }
  /* line 216, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
  .default-style .messages-sidebox {
    z-index: auto !important;
  }
  /* line 220, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
  .default-style .messages-wrapper .messages-sidebox {
    position: absolute;
    left: 0;
    z-index: auto;
  }
  /* line 226, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
  .default-style .messages-wrapper .messages-sidebox {
    height: 100% !important;
  }
  /* line 230, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
  .default-style .messages-card .messages-sidebox {
    position: static;
    right: auto;
    left: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    height: auto;
  }
}

/* line 243, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
.default-style[dir=rtl] .messages-sidebox-open .messages-sidebox {
  right: 0;
  left: auto;
}
@media (min-width: 576px) {
  /* line 249, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
  .default-style[dir=rtl] .message-date {
    margin-right: auto;
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  /* line 256, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
  .default-style[dir=rtl] .messages-wrapper {
    padding-right: 14rem;
    padding-left: 0;
  }
  /* line 261, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
  .default-style[dir=rtl] .messages-wrapper .messages-sidebox {
    right: 0;
    left: auto;
  }
}

/* line 271, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
.material-style .messages-wrapper .messages-sidebox {
  z-index: 1081;
}
/* line 275, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
.material-style .messages-sidebox-open .messages-sidebox {
  left: 0;
}
/* line 279, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
.material-style .messages-card .messages-sidebox {
  background: #fff;
  -webkit-box-shadow: 0 0 0 1px rgba(24, 28, 33, 0.06);
          box-shadow: 0 0 0 1px rgba(24, 28, 33, 0.06);
}
@media (min-width: 576px) {
  /* line 285, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
  .material-style .messages-list .list-group-item {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  /* line 289, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
  .material-style .message-subject {
    width: auto;
  }
  /* line 293, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
  .material-style .message-date {
    margin-left: auto;
  }
}
@media (min-width: 768px) {
  /* line 299, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
  .material-style .messages-sidebox {
    -ms-flex-preferred-size: 14rem;
        flex-basis: 14rem;
  }
  /* line 303, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
  .material-style .messages-wrapper .messages-sidebox {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}
@media (min-width: 992px) {
  /* line 309, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
  .material-style .messages-wrapper,
  .material-style .messages-sidebox {
    -webkit-transition: none !important;
    transition: none !important;
  }
  /* line 314, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
  .material-style .messages-wrapper {
    padding-left: 14rem;
  }
  /* line 318, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
  .material-style .messages-sidebox {
    z-index: auto !important;
  }
  /* line 322, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
  .material-style .messages-wrapper .messages-sidebox {
    position: absolute;
    left: 0;
    z-index: auto;
  }
  /* line 328, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
  .material-style .messages-wrapper .messages-sidebox {
    height: 100% !important;
  }
  /* line 332, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
  .material-style .messages-card .messages-sidebox {
    position: static;
    right: auto;
    left: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    height: auto;
  }
}

/* line 345, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
.material-style[dir=rtl] .messages-sidebox-open .messages-sidebox {
  right: 0;
  left: auto;
}
@media (min-width: 576px) {
  /* line 351, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
  .material-style[dir=rtl] .message-date {
    margin-right: auto;
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  /* line 358, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
  .material-style[dir=rtl] .messages-wrapper {
    padding-right: 14rem;
    padding-left: 0;
  }
  /* line 363, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/messages.scss */
  .material-style[dir=rtl] .messages-wrapper .messages-sidebox {
    right: 0;
    left: auto;
  }
}
