/* line 1, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/users.scss */
.user-view-table {
  table-layout: fixed;
}
/* line 4, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/users.scss */
.user-view-table td {
  padding-right: 0;
  padding-left: 0;
  border: 0;
}
/* line 10, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/users.scss */
.user-view-table td:first-child {
  width: 9rem;
}
/* line 14, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/users.scss */
.user-view-table td:not(:first-child) {
  min-width: 12rem;
}

/* line 19, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/users.scss */
.user-edit-fileinput {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
  opacity: 0;
}

/* line 27, /Users/william/Documents/work/W21C/vendor/assets/stylesheets/pages/users.scss */
.user-edit-multiselect ~ .select2-container {
  width: 100% !important;
}
