<h1>Plan</h1>
<div class="col-sm-6 mb-4">
  <div class="card">
    <div class="card-header">
      <div class="title-text"><i class="ion ion-md-stats text-primary"></i>&nbsp; How I'm Doing</div>
    </div>
    <div class="card-body text-center ">
      Visualization showing "How I'm doing/Trackng overview with goals integration"
    </div>
  </div>
</div>

<div class="col-sm-6 mb-4">
  <div class="card">
    <div class="card-header with-elements">
      <div class="card-header-title"><i class="ion ion-md-calendar text-primary"></i>&nbsp; Keep Me Organized</div>
    </div>
    <div class="card-body text-center ">
      events here
    </div>
  </div>
</div>

<div class="col-sm-6">
  <div class="card">
    <div class="card-header with-elements">
      <div class="card-header-title"><i class="ion ion-md-trophy text-primary"></i>&nbsp; Goals</div>
    </div>
    <div class="card-body text-center ">
      Total Goals: xx
      <br>
      Completed Goals: xx
      <br>
      Incomplete Goals: xx
    </div>
  </div>
</div>

<div class="col-sm-6">
  <div class="card">
    <div class="card-header with-elements">
      <div class="card-header-title"><i class="ion ion-md-document text-primary"></i>&nbsp; Report Tool</div>
    </div>
    <div class="card-body text-center ">
      Helping You Make the Most of Your Care Appointments
    </div>
  </div>
</div>
