<header class="title-header container-fluid">
    <div class="container">
      <%= image_tag("icon/organize.png", class: "title-img") %>
      <h1 class="title"><%= @title %></h1>
    </div>
</header>
<div class="container">
    <div class="space-60"></div>
    <main class="panel-group" id="accordion">
      <div class="panel panel-default">
          <div class="panel-heading">
              <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse1">What is My Care Compass?</a></h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse in">
              <div class="panel-body">My Care Compass is part of a 6 year research and design project at the W21C Research and Innovation Centre at the University of Calgary, Alberta, Canada. The goal of the project is to learn about patients with multiple chronic conditions and the challenges and issues they face in their day-to-day experiences. We also talked to doctors, specialists, and other health care providers to understand their perspectives on those same issues and challenges. We’ve discovered that patients have needs and concerns that are poorly addressed with existing systems and information. My Care Compass is where we’re realizing our vision of what patients really need on their chronic care journey. </div>
          </div>
      </div>
      <div class="panel panel-default">
          <div class="panel-heading">
              <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Who created My Care Compass?</a></h4>
          </div>
          <div id="collapse2" class="panel-collapse collapse">
              <div class="panel-body">My Care Compass is the brain child of a team of researchers and designers at the W21C Research and Innovation Centre at the University of Calgary. The W21C works with patients, doctors, health care systems, industry partners, and government organizations to make care better.</div>
          </div>
      </div>
      <div class="panel panel-default">
          <div class="panel-heading">
              <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse3">My Doctor’s office/local hospital already has an electronic medical record (EMR). Why do I need this?</a></h4>
          </div>
          <div id="collapse3" class="panel-collapse collapse">
              <div class="panel-body">There’s a lot of exciting stuff going on in Alberta (and the World) with EMRs and having areas of them for patients to access information too. But those systems have been developed mostly for doctors, or even by doctors, and we believe that patients need more supportive and clearer information and tools than what is there (so far). My Care Compass is envisioned to be different – by putting patients at the centre of what we create and imagine. Our tools and resources are focussed on the patients, not the doctors, and include the information that patients have told us they need, not what doctors think they need.</div>
          </div>
      </div>

      <!-- <div class="panel panel-default">
          <div class="panel-heading">
              <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse4">I just go diagnosed and I don't know where to start.  Please help.</a></h4>
          </div>
          <div id="collapse4" class="panel-collapse collapse">
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
          </div>
      </div> -->
      <div class="panel panel-default">
          <div class="panel-heading">
              <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Is this all there is?</a></h4>
          </div>
          <div id="collapse5" class="panel-collapse collapse">
              <div class="panel-body">If you have created a profile and are already enjoying what we have put together, then you’ll be happy to know that this is just phase 1 of a larger scale project. What you see so far is a “first version” that’s meant to show health care decision makers, doctors, and funders the potential power of what it means to really design and develop tools for patients, based on what patients have told us they need. So, stick around, provide feedback, and watch us grow what you see today into what is possible tomorrow.</div>
          </div>
      </div>
      <div class="panel panel-default">
          <div class="panel-heading">
              <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse6">Why should I create a profile?</a></h4>
          </div>
          <div id="collapse6" class="panel-collapse collapse">
              <div class="panel-body">If you haven’t created a profile yet or are just exploring this site to see what it’s about, then there’s a wealth of resources that we’ve pulled together to help you on your chronic care journey. But there’s so much more once you create a profile. With a login/profile, you get access to a wealth of tools that are personalized to your needs and situation that are only possible with some information from you.</div>
          </div>
      </div>
  </main>
  <div class="space-60"></div>
</div>
