<main id="resources" class="container">
	<section class="row">
		<h1>
			External resources you may find helpful
		</h1>
		<p>
			We've searched the internet for credible resources and organizations that provide useful and helpful information to support you on your care journey.
		</p>
	</section>
	<section class="row">
		<div class="input-group col-sm-10">
            <input type="text" class="form-control resources__search-bar" id="mc-email" placeholder="What can we help you find today? (Search by name, keywords, condition, tags, etc)">
            <div class="input-group-btn">
                <button type="submit" class="btn btn-info">Search</button>
            </div>
        </div>
		<!-- <div class="col-sm-10 resources__search-bar-container">
			<input class="resources__search-bar"type="text" name="search" placeholder="What can we help you find today? (Search by name, keywords, condition, tags, etc)">
		</div>
		<div class="col-sm-1">
			<button type="button">
				
			</button>
		</div> -->
	</section>
	<section class="row resources__item">
		<div class="col-sm-3">
			<%= image_tag "kingsfund.png", class: "img-fluid  margin-25"%>
		</div>
		<div class="col-sm-7">
			<h2>
				The King's Fund
			</h2>
			<p>
				General health information website on chronoic conditions, highlighting the differences between different socio-economic groups in the UK.
			</p>
			<div class="tags">
				<a href="">basic info</a>
				<a href="">chronic conditions</a>
				<a href="">self-help</a>
				<a href="">research</a>
				<a href="">community services</a>
				<a href="">patient safety</a>
			</div>
		</div>
		<div class="col-sm-2 resources__quality-container">
				<h2>
					Quality Rating
				</h2>
				<span>
					12/13
				</span>
		</div>
	</section>
	<section class="row resources__item">
		<div class="col-sm-3">
			<%= image_tag "gig-logo.jpg", class: "img-fluid"%>
		</div>
		<div class="col-sm-7">
			<h2>
				National Health Services: Health in Wales: Chronic Conditions
			</h2>
			<p>
				Webpage for a general overview of asthma with links to more comprehensive webpages.
			</p>
			<div class="tags">
				<a href="">basic info</a>
				<a href="">chronic conditions</a>
				<a href="">self-help</a>
				<a href="">research</a>
				<a href="">community services</a>
				<a href="">patient safety</a>
			</div>
		</div>
		<div class="col-sm-2 resources__quality-container">
				<h2>
					Quality Rating
				</h2>
				<span>
					10/13
				</span>
		</div>
	</section>
	<section class="row resources__item">
		<div class="col-sm-3">
			<%= image_tag "choices-logo.png", class: "img-fluid"%>
		</div>
		<div class="col-sm-7">
			<h2>
				National Health Services: Asthma
			</h2>
			<p>
				PDF with general information about asthma and medications, as well as a Clinical Practice Guideline flowchart.
			</p>
			<div class="tags">
				<a href="">basic info</a>
				<a href="">asthma</a>
				<a href="">self-help</a>
				<a href="">research</a>
				<a href="">community services</a>
				<a href="">patient safety</a>
			</div>
		</div>
		<div class="col-sm-2 resources__quality-container">
				<h2>
					Quality Rating
				</h2>
				<span>
					12/13
				</span>
		</div>
	</section>
	<section class="row resources__item">
		<div class="col-sm-3">
			
		</div>
		<div class="col-sm-7">
			<h2>
				Queensland Ambulance Service: Clinical Practice Guidelines: Respiratory/Asthma
			</h2>
			<p>
				General health information website on chronoic conditions, highlighting the differences between different socio-economic groups in the UK.
			</p>
			<div class="tags">
				<a href="">basic info</a>
				<a href="">chronic conditions</a>
				<a href="">self-help</a>
				<a href="">research</a>
				<a href="">community services</a>
				<a href="">patient safety</a>
			</div>
		</div>
		<div class="col-sm-2 resources__quality-container">
				<h2>
					Quality Rating
				</h2>
				<span>
					12/13
				</span>
		</div>
	</section>

</main>