<!--Header-Area-->
<header class="blue-bg relative fix" id="home">
  <div class="section-bg overlay-bg ripple ">
    <div class="parallax-image">
      <%= image_tag("learn-bg.jpg")  %>
    </div>
  </div>

  <!--Mainmenu/-->
  <div class="space-100"></div>
  <div class="space-20 hidden-xs"></div>
  <!--Header-Text-->
  <div class="container text-white">
    <div class="row text-center">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <div class="space-60"></div>
        <%= image_tag("icon/learn.png") %>
        <h1>Disclaimer of Medical Advice</h1>
        <div class="space-40"></div>
      </div>
    </div>
  </div>
  <!--Header-Text/-->
</header>

<section id="blog">
  <div class="space-40"></div>
  <div class="container">
    <div class="row wow fadeInUp">
      <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
        <h3 class="text-uppercase">My Care Compass</h3>
        <div class="space-20"></div>
        <p>Last updated: October 8, 2019</p>
      </div>
    </div>
<div class="space-20"></div>
<div class="wow fadeInUp">

    <!-- Section -->
    <p>THE MY CARE COMPASS WEBSITE IS NOT INTENDED FOR THE PURPOSE OF PROVIDING MEDICAL ADVICE</p>

    <p>All information, content, and material of this website is for informational purposes only and are not intended to serve as a substitute for the consultation, diagnosis, and/or medical treatment of a qualified physician or healthcare provider. Always seek the advice of your physician or other qualified health care provider with any questions you may have regarding a medical condition or treatment and before undertaking a new health care regimen, and never disregard professional medical advice or delay in seeking it because of something you have read on this website.</p>

    <p>The University Of Calgary, its administrators, employees, agents faculty and students, shall not be liable for any damages, claims, liabilities, costs, or obligations arising from the use or misuse of the material contained in this web site, whether such obligations arise in contract, negligence, equity, or statute law. The University of Calgary does not guarantee or warrant the quality, accuracy, completeness, timeliness, appropriateness, or suitability of the information provided.</p>

  </div>
<div class="space-40"></div>
<div class="wow fadeInUp">

    <h4>External Links</h4>

    <p>This site contains links to external or third-party websites, including but not limited to
      <%= link_to("My Health Alberta", "https://myhealth.alberta.ca", target: :_blank) %>
    . External or third-party links are provided as a reference to assist you in identifying and locating other Internet resources that may be of interest. Please remember that Internet resources are no substitute for the advice of a qualified health-care practitioner.  The University of Calgary is not responsible for the privacy practices or the content of any external or third-party web sites. We encourage you to review the privacy policies posted on such sites, as well as any site you visit.</p>

  </div>
<div class="space-30"></div>
<div class="wow fadeInUp">

    <h4>Privacy Policy</h4>

    <p>The information which you upload onto this website will be used for research related purposes according to University of Calgary Ethics ID REB18-1710.  All information obtained through the use of this website will be kept confidential. Records will only be accessed by authorized representatives from the University of Calgary. If any photocopies, photographs, or screenshots that you upload have identifying information, those elements will be removed before publication. Anonymized data may be used in future academic publications and conference presentations.</p>

    <p>Some aspects of the website invite you to enter personal information about you or your medical journey. The research team at the University of Calgary may be able to see this information. They will only consider the information at a high level (e.g., that you used the self-tracking features to track a symptom in addition to the standard set, but without looking at any of the individual readings for that symptom that you have entered). Anonymized information may be used in future academic publications and conference presentations.
    Data collected through your use of this website will be anonymized before use in publications. Data will be held in a database for future use by the research team. Any future use of this data is required to undergo review by a Research Ethics Board prior to use.
    </p>

  </div>
<div class="space-30"></div>
<div class="wow fadeInUp">

    <h4>Contact Us</h4>

    <p>If you have any questions about these Terms, please contact us.</p>
  </div>
<div class="space-80"></div>
  </div>
</section>
