/* line 24, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-divider {
  border-style: solid;
  border-width: 1px;
}

/* line 29, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
hr.fc-divider {
  height: 0;
  margin: 0;
  padding: 0 0 .125rem;
  border-width: 1px 0;
}

/* line 36, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-clear {
  clear: both;
}

/* line 40, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-bg,
.fc-bgevent-skeleton,
.fc-highlight-skeleton,
.fc-helper-skeleton {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

/* line 50, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-bg {
  bottom: 0;
}
/* line 53, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-bg table {
  height: 100%;
}

/* line 58, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

/* line 71, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-popover {
  position: absolute;
}

/* line 75, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-popover .fc-header {
  padding: 0.3125rem 0.5rem;
}

/* line 79, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-popover .fc-header .fc-title {
  margin: 0 .125rem;
  float: left;
}
/* line 83, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
[dir=rtl] .fc-popover .fc-header .fc-title {
  float: right;
}

/* line 88, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-popover .fc-header .fc-close {
  cursor: pointer;
  float: right;
}
/* line 92, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
[dir=rtl] .fc-popover .fc-header .fc-close {
  float: left;
}

/* line 100, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc table {
  width: 100%;
  table-layout: fixed;
}

/* line 105, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc th {
  text-align: center;
  padding: 0;
  vertical-align: top;
}

/* line 111, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc td {
  padding: 0;
  vertical-align: top;
}
/* line 115, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc td.fc-today {
  border-style: double;
}
/* line 118, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc td.fc-today.alert-info {
  background: rgba(2, 188, 119, 0.05);
}

/* line 124, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-head .fc-day-header,
.fc-head .fc-week-number {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  text-transform: uppercase;
}

/* line 131, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc .fc-view-container .fc-nonbusiness {
  opacity: 1 !important;
  background: rgba(0, 0, 0, 0.02) !important;
}

/* line 139, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
a[data-goto] {
  cursor: pointer;
}
/* line 142, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
a[data-goto]:hover {
  text-decoration: underline;
}

/* line 150, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc .fc-row {
  border-style: solid;
  border-width: 0;
}

/* line 155, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-row {
  position: relative;
}
/* line 158, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-row table {
  border-left: 0 hidden transparent;
  border-right: 0 hidden transparent;
  border-bottom: 0 hidden transparent;
}
/* line 164, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-row:first-child table {
  border-top: 0 hidden transparent;
}
/* line 168, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-row .fc-bg {
  z-index: 1;
}
/* line 172, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-row .fc-bgevent-skeleton,
.fc-row .fc-highlight-skeleton {
  bottom: 0;
}
/* line 177, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-row .fc-bgevent-skeleton {
  z-index: 2;
}
/* line 180, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-row .fc-bgevent-skeleton table {
  height: 100%;
}
/* line 184, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-row .fc-bgevent-skeleton td {
  border-color: transparent;
}
/* line 189, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-row .fc-highlight-skeleton {
  z-index: 3;
}
/* line 192, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-row .fc-highlight-skeleton table {
  height: 100%;
}
/* line 196, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-row .fc-highlight-skeleton td {
  border-color: transparent;
}
/* line 201, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-row .fc-content-skeleton {
  position: relative;
  z-index: 4;
  padding-bottom: .125rem;
}
/* line 207, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-row .fc-helper-skeleton {
  z-index: 5;
}

/* line 215, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc .fc-row .fc-content-skeleton table,
.fc .fc-row .fc-content-skeleton td {
  background: none;
  border-color: transparent;
}

/* line 221, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc .fc-row .fc-helper-skeleton td {
  background: none;
  border-color: transparent;
}

/* line 226, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-row .fc-content-skeleton td,
.fc-row .fc-helper-skeleton td {
  border-bottom: 0;
}

/* line 231, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-row .fc-content-skeleton tbody td,
.fc-row .fc-helper-skeleton tbody td {
  border-top: 0;
}

/* line 239, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-scroller {
  -webkit-overflow-scrolling: touch;
}
/* line 242, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-scroller > .fc-day-grid,
.fc-scroller > .fc-time-grid {
  position: relative;
  width: 100%;
}

/* line 252, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-event {
  position: relative;
  display: block;
  border-radius: 0.125rem;
  text-decoration: none !important;
}
/* line 258, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-event[href], .fc-event.fc-draggable {
  cursor: pointer;
}

/* line 264, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-not-allowed,
.fc-not-allowed .fc-event {
  cursor: not-allowed;
}

/* line 269, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-event .fc-bg {
  z-index: 1;
  background: #fff;
  opacity: .25;
}

/* line 275, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-event .fc-content {
  position: relative;
  z-index: 2;
}

/* line 280, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-event .fc-resizer {
  position: absolute;
  z-index: 4;
  display: none;
}

/* line 286, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-event.fc-allow-mouse-resize .fc-resizer {
  display: block;
}

/* line 290, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-event.fc-selected {
  z-index: 9999 !important;
  -webkit-box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.2);
}
/* line 294, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-event.fc-selected.fc-dragging {
  -webkit-box-shadow: 0 0.125rem 0.4375rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.125rem 0.4375rem rgba(0, 0, 0, 0.3);
}

/* line 299, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-event.fc-selected .fc-resizer {
  display: block;
}
/* line 302, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-event.fc-selected .fc-resizer:before {
  content: "";
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 50%;
  width: 2.5rem;
  height: 2.5rem;
  margin-left: -1.25rem;
  margin-top: -1.25rem;
}

/* line 316, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-highlight {
  opacity: 0.05;
}

/* line 320, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-bgevent {
  opacity: 0.1;
}

/* line 328, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-h-event.fc-selected:before {
  content: "";
  position: absolute;
  z-index: 3;
  top: -.625rem;
  bottom: -.625rem;
  left: 0;
  right: 0;
}
/* line 338, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
html:not([dir=rtl]) .fc-h-event.fc-not-start, [dir=rtl] .fc-h-event.fc-not-end {
  margin-left: 0;
  border-left-width: 0;
  padding-left: .0625rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
/* line 347, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
html:not([dir=rtl]) .fc-h-event.fc-not-end, [dir=rtl] .fc-h-event.fc-not-start {
  margin-right: 0;
  border-right-width: 0;
  padding-right: .0625rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
/* line 356, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
html:not([dir=rtl]) .fc-h-event .fc-start-resizer, [dir=rtl] .fc-h-event .fc-end-resizer {
  cursor: w-resize;
  left: -.0625rem;
}
/* line 362, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
html:not([dir=rtl]) .fc-h-event .fc-end-resizer, [dir=rtl] .fc-h-event .fc-start-resizer {
  cursor: e-resize;
  right: -.0625rem;
}

/* line 369, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-h-event.fc-allow-mouse-resize .fc-resizer {
  width: .4375rem;
  top: -.0625rem;
  bottom: -.0625rem;
}

/* line 375, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-h-event.fc-selected .fc-resizer {
  border-radius: .25rem;
  width: .375rem;
  height: .375rem;
  border: 1px solid inherit;
  background: #fff;
  top: 50%;
  margin-top: -.25rem;
}

/* line 386, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
html:not([dir=rtl]) .fc-h-event.fc-selected .fc-start-resizer, [dir=rtl] .fc-h-event.fc-selected .fc-end-resizer {
  margin-left: -.25rem;
}
/* line 391, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
html:not([dir=rtl]) .fc-h-event.fc-selected .fc-end-resizer, [dir=rtl] .fc-h-event.fc-selected .fc-start-resizer {
  margin-right: -.25rem;
}

/* line 400, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-day-grid-event {
  margin: .0625rem .125rem 0;
  padding: 0.0625rem 0.1875rem;
}

/* line 405, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
tr:first-child > td > .fc-day-grid-event {
  margin-top: .125rem;
}

/* line 409, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-day-grid-event.fc-selected:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -.0625rem;
  right: -.0625rem;
  bottom: -.0625rem;
  left: -.0625rem;
  background: #000;
  opacity: .25;
}

/* line 421, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-day-grid-event .fc-content {
  white-space: nowrap;
  overflow: hidden;
}

/* line 426, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-day-grid-event .fc-time {
  font-weight: bold;
}

/* line 431, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
html:not([dir=rtl]) .fc-day-grid-event.fc-allow-mouse-resize .fc-start-resizer, [dir=rtl] .fc-day-grid-event.fc-allow-mouse-resize .fc-end-resizer {
  margin-left: -.125rem;
}
/* line 436, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
html:not([dir=rtl]) .fc-day-grid-event.fc-allow-mouse-resize .fc-end-resizer, [dir=rtl] .fc-day-grid-event.fc-allow-mouse-resize .fc-start-resizer {
  margin-right: -.125rem;
}

/* line 445, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
a.fc-more {
  margin: .0625rem .1875rem;
  font-size: .85em;
  cursor: pointer;
  text-decoration: none;
}
/* line 451, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
a.fc-more:hover {
  text-decoration: underline;
}

/* line 456, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-limited {
  display: none;
}

/* line 460, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-day-grid .fc-row {
  z-index: 1;
}

/* line 464, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-more-popover {
  z-index: 2;
  width: 13.75rem;
}
/* line 468, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-more-popover .fc-event-container {
  padding: .625rem;
}

/* line 476, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-now-indicator {
  position: absolute;
  border: 0 solid red;
}

/* line 484, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc.fc-bootstrap4 a {
  text-decoration: none;
}
/* line 487, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc.fc-bootstrap4 a[data-goto]:hover {
  text-decoration: underline;
}

/* line 493, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-bootstrap4 hr.fc-divider {
  border-color: inherit;
}
/* line 497, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-bootstrap4 .fc-today.alert {
  border-radius: 0;
}
/* line 502, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-bootstrap4 .fc-popover.card {
  position: absolute;
}
/* line 506, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-bootstrap4 .fc-popover .card-body {
  padding: 0;
}
/* line 511, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-bootstrap4 .fc-time-grid .fc-slats table {
  background: none;
}

/* line 519, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-toolbar {
  text-align: center;
}
/* line 522, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-toolbar.fc-header-toolbar {
  margin-bottom: 1em;
}
/* line 526, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-toolbar.fc-footer-toolbar {
  margin-top: 1em;
}
/* line 530, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-toolbar .fc-left {
  float: left;
}
/* line 534, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-toolbar .fc-right {
  float: right;
}
/* line 538, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-toolbar .fc-center {
  display: inline-block;
}
/* line 542, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-toolbar h2 {
  margin: 0;
}
/* line 546, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-toolbar button {
  position: relative;
}
/* line 550, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-toolbar .btn {
  padding: 0.375rem 0.75rem;
}
/* line 554, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-toolbar .fc-state-hover,
.fc-toolbar .ui-state-hover {
  z-index: 2;
}
/* line 559, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-toolbar .fc-state-down {
  z-index: 3;
}
/* line 563, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-toolbar .fc-state-active,
.fc-toolbar .ui-state-active {
  z-index: 4;
}
/* line 568, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-toolbar button:focus {
  z-index: 5;
}

/* line 574, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc .fc-toolbar > * > * {
  float: left;
  margin-left: .75em;
}
/* line 579, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc .fc-toolbar > * > :first-child {
  margin-left: 0;
}

/* line 587, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-view-container * {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 592, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-view-container *:before, .fc-view-container *:after {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 600, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-view {
  position: relative;
  z-index: 1;
}
/* line 604, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-view > table {
  position: relative;
  z-index: 1;
}
/* line 609, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-view.card {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

/* line 617, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-basicWeek-view .fc-content-skeleton,
.fc-basicDay-view .fc-content-skeleton {
  padding-bottom: 1em;
}

/* line 622, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-basic-view .fc-body .fc-row {
  min-height: 4em;
}

/* line 626, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-row.fc-rigid {
  overflow: hidden;
}
/* line 629, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-row.fc-rigid .fc-content-skeleton {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

/* line 637, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-day-top.fc-other-month {
  opacity: .3;
}

/* line 642, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-basic-view .fc-week-number,
.fc-basic-view .fc-day-number {
  padding: .125rem;
}
/* line 647, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-basic-view th.fc-week-number,
.fc-basic-view th.fc-day-number {
  padding: 0 .125rem;
}

/* line 654, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-basic-view .fc-day-top .fc-day-number {
  float: right;
}
/* line 657, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
[dir=rtl] .fc-basic-view .fc-day-top .fc-day-number {
  float: left;
}
/* line 662, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-basic-view .fc-day-top .fc-week-number {
  float: left;
  border-radius: 0 0 .1875rem 0;
  min-width: 1.5em;
  text-align: center;
  background-color: #f2f2f2;
  color: #808080;
}
/* line 670, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
[dir=rtl] .fc-basic-view .fc-day-top .fc-week-number {
  float: right;
  border-radius: 0 0 0 .1875rem;
}

/* line 677, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-basic-view td.fc-week-number {
  text-align: center;
}
/* line 680, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-basic-view td.fc-week-number > * {
  display: inline-block;
  min-width: 1.25em;
}

/* line 689, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-agenda-view .fc-day-grid {
  position: relative;
  z-index: 2;
}
/* line 693, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-agenda-view .fc-day-grid .fc-row {
  min-height: 3em;
}
/* line 697, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-agenda-view .fc-day-grid .fc-row.fc-content-skeleton {
  padding-bottom: 1em;
}

/* line 705, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc .fc-axis {
  vertical-align: middle;
  padding: 0 .25rem;
  white-space: nowrap;
  text-align: right;
}
/* line 711, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
[dir=rtl] .fc .fc-axis {
  text-align: left;
}

/* line 719, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-time-grid-container {
  position: relative;
  z-index: 1;
}

/* line 724, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-time-grid {
  position: relative;
  z-index: 1;
  min-height: 100%;
}
/* line 729, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-time-grid table {
  border: 0 hidden transparent;
}
/* line 733, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-time-grid > .fc-bg {
  z-index: 1;
}
/* line 737, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-time-grid .fc-slats,
.fc-time-grid > hr {
  position: relative;
  z-index: 2;
}
/* line 743, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-time-grid .fc-content-col {
  position: relative;
}
/* line 747, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-time-grid .fc-content-skeleton {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
}
/* line 755, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-time-grid .fc-business-container {
  position: relative;
  z-index: 1;
}
/* line 760, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-time-grid .fc-bgevent-container {
  position: relative;
  z-index: 2;
}
/* line 765, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-time-grid .fc-highlight-container {
  position: relative;
  z-index: 3;
}
/* line 770, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-time-grid .fc-event-container {
  position: relative;
  z-index: 4;
  margin: 0 2.5% 0 .125rem;
}
/* line 775, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
[dir=rtl] .fc-time-grid .fc-event-container {
  margin: 0 .125rem 0 2.5%;
}
/* line 780, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-time-grid .fc-now-indicator-line {
  z-index: 5;
}
/* line 784, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-time-grid .fc-helper-container {
  position: relative;
  z-index: 6;
}
/* line 790, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-time-grid .fc-slats td {
  height: 1.5em;
  border-bottom: 0;
}
/* line 795, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-time-grid .fc-slats .fc-minor td {
  border-top-style: dotted;
}
/* line 800, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-time-grid .fc-highlight {
  position: absolute;
  left: 0;
  right: 0;
}
/* line 806, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-time-grid .fc-event {
  position: absolute;
  z-index: 1;
}
/* line 811, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-time-grid .fc-bgevent {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
}

/* line 822, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-v-event.fc-not-start {
  border-top-width: 0;
  padding-top: .0625rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* line 829, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-v-event.fc-not-end {
  border-bottom-width: 0;
  padding-bottom: .0625rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* line 839, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-time-grid-event {
  overflow: hidden;
}
/* line 842, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-time-grid-event.fc-selected {
  overflow: visible;
}
/* line 845, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-time-grid-event.fc-selected .fc-bg {
  display: none;
}
/* line 850, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-time-grid-event .fc-content {
  overflow: hidden;
}
/* line 854, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-time-grid-event .fc-time,
.fc-time-grid-event .fc-title {
  padding: 0 .0625rem;
}
/* line 859, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-time-grid-event .fc-time {
  font-size: .85em;
  white-space: nowrap;
}
/* line 865, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-time-grid-event.fc-short .fc-content {
  white-space: nowrap;
}
/* line 869, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-time-grid-event.fc-short .fc-time,
.fc-time-grid-event.fc-short .fc-title {
  display: inline-block;
  vertical-align: top;
}
/* line 876, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-time-grid-event.fc-short .fc-time span {
  display: none;
}
/* line 880, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-time-grid-event.fc-short .fc-time:before {
  content: attr(data-start);
}
/* line 884, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-time-grid-event.fc-short .fc-time:after {
  content: "\A0-\A0";
}
/* line 889, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-time-grid-event.fc-short .fc-title {
  font-size: .85em;
  padding: 0;
}
/* line 895, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-time-grid-event.fc-allow-mouse-resize .fc-resizer {
  left: 0;
  right: 0;
  bottom: 0;
  height: .5rem;
  overflow: hidden;
  line-height: .5rem;
  font-size: .75rem;
  font-family: monospace;
  text-align: center;
  cursor: s-resize;
}
/* line 907, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-time-grid-event.fc-allow-mouse-resize .fc-resizer:after {
  content: "=";
}
/* line 912, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-time-grid-event.fc-selected .fc-resizer {
  border-radius: .3125rem;
  border: 1px solid inherit;
  width: .5rem;
  height: .5rem;
  background: #fff;
  left: 50%;
  margin-left: -.3125rem;
  bottom: -.3125rem;
}

/* line 928, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-time-grid .fc-enow-indicator-lin {
  border-top-width: 1px;
  left: 0;
  right: 0;
}
/* line 934, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-time-grid .fc-now-indicator-arrow {
  margin-top: -0.3125rem;
  left: 0;
  border-width: 0.3125rem 0 0.3125rem calc(0.3125rem + 1px);
  border-top-color: transparent;
  border-bottom-color: transparent;
}
/* line 941, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
[dir=rtl] .fc-time-grid .fc-now-indicator-arrow {
  left: auto;
  right: 0;
  border-width: 0.3125rem calc(0.3125rem + 1px) 0.3125rem 0;
}

/* line 952, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-event-dot {
  display: inline-block;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
}

/* line 959, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-list-view {
  border-width: 1px;
  border-style: solid;
}
/* line 963, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
[dir=rtl] .fc-list-view {
  direction: rtl;
}

/* line 968, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc .fc-list-table {
  table-layout: auto;
}

/* line 972, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-list-table td {
  border-width: 1px 0 0;
  padding: 0.5rem 0.875rem;
}

/* line 977, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-list-table tr:first-child td {
  border-top-width: 0;
}

/* line 981, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-list-heading {
  border-bottom-width: 1px;
  text-transform: uppercase;
}

/* line 986, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-list-heading-main {
  float: left;
}
/* line 989, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
[dir=rtl] .fc-list-heading-main {
  float: right;
}

/* line 994, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-list-heading-alt {
  float: right;
}
/* line 997, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
[dir=rtl] .fc-list-heading-alt {
  float: left;
}

/* line 1002, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-list-item.fc-has-url {
  cursor: pointer;
}

/* line 1006, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-list-item-marker,
.fc-list-item-time {
  white-space: nowrap;
  width: 1px;
}

/* line 1012, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
html:not([dir=rtl]) .fc-list-item-marker {
  padding-right: 0;
}

/* line 1016, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
[dir=rtl] .fc-list-item-marker {
  padding-left: 0;
}

/* line 1020, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-list-item-title a {
  text-decoration: none;
  color: inherit;
}
/* line 1024, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-list-item-title a[href]:hover {
  text-decoration: underline;
}

/* line 1029, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-list-empty-wrap2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* line 1037, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-list-empty-wrap1 {
  width: 100%;
  height: 100%;
  display: table;
}

/* line 1043, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.fc-list-empty {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* line 1051, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
  .fc-highlight {
    display: none !important;
  }
}
/* line 1059, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.default-style .fc-popover {
  border-color: rgba(24, 28, 33, 0.06);
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.09);
          box-shadow: 0 1px 6px rgba(0, 0, 0, 0.09);
}
/* line 1064, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.default-style .fc-event {
  color: #4E5155 !important;
  font-size: 0.75rem;
  line-height: 1.5;
}
/* line 1070, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.default-style .fc-toolbar .btn {
  font-size: 0.75rem !important;
  line-height: 1.5 !important;
}
/* line 1075, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.default-style .fc-toolbar h2 {
  font-size: 1.563rem;
  font-weight: 300;
}
/* line 1080, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.default-style .fc-head .fc-day-header,
.default-style .fc-list-heading,
.default-style .fc-head .fc-week-number {
  font-size: 0.75rem !important;
  line-height: 1.5;
  font-weight: 500;
}
/* line 1088, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.default-style .fc-popover .fc-header .fc-close {
  line-height: 1.54;
}
/* line 6, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/_mixins.scss */
.default-style .fc-event-secondary.fc-event, .default-style .fc-event-secondary.fc-event-dot {
  background: rgba(136, 151, 170, 0.15) !important;
}
/* line 6, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/_mixins.scss */
.default-style .fc-event-success.fc-event, .default-style .fc-event-success.fc-event-dot {
  background: rgba(2, 188, 119, 0.15) !important;
}
/* line 6, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/_mixins.scss */
.default-style .fc-event-info.fc-event, .default-style .fc-event-info.fc-event-dot {
  background: rgba(40, 195, 215, 0.15) !important;
}
/* line 6, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/_mixins.scss */
.default-style .fc-event-warning.fc-event, .default-style .fc-event-warning.fc-event-dot {
  background: rgba(255, 217, 80, 0.15) !important;
}
/* line 6, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/_mixins.scss */
.default-style .fc-event-danger.fc-event, .default-style .fc-event-danger.fc-event-dot {
  background: rgba(217, 83, 79, 0.15) !important;
}
/* line 6, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/_mixins.scss */
.default-style .fc-event-light.fc-event, .default-style .fc-event-light.fc-event-dot {
  background: rgba(24, 28, 33, 0.15) !important;
}
/* line 6, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/_mixins.scss */
.default-style .fc-event-dark.fc-event, .default-style .fc-event-dark.fc-event-dot {
  background: rgba(24, 28, 33, 0.15) !important;
}

/* line 1104, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.material-style .fc-popover {
  border-color: rgba(24, 28, 33, 0.06);
  -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.07), 0px 4px 5px 0px rgba(0, 0, 0, 0.05), 0px 1px 10px 0px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.07), 0px 4px 5px 0px rgba(0, 0, 0, 0.05), 0px 1px 10px 0px rgba(0, 0, 0, 0.03);
}
/* line 1109, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.material-style .fc-event {
  color: #4E5155 !important;
  font-size: 0.75rem;
  line-height: 1.5;
}
/* line 1115, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.material-style .fc-toolbar .btn {
  font-size: 0.75rem !important;
  line-height: 1.5 !important;
}
/* line 1120, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.material-style .fc-toolbar h2 {
  font-size: 1.563rem;
  font-weight: 300;
}
/* line 1125, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.material-style .fc-head .fc-day-header,
.material-style .fc-list-heading,
.material-style .fc-head .fc-week-number {
  font-size: 0.75rem !important;
  line-height: 1.5;
  font-weight: 500;
}
/* line 1133, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/fullcalendar.scss */
.material-style .fc-popover .fc-header .fc-close {
  line-height: 1.54;
}
/* line 6, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/_mixins.scss */
.material-style .fc-event-secondary.fc-event, .material-style .fc-event-secondary.fc-event-dot {
  background: rgba(136, 151, 170, 0.15) !important;
}
/* line 6, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/_mixins.scss */
.material-style .fc-event-success.fc-event, .material-style .fc-event-success.fc-event-dot {
  background: rgba(2, 188, 119, 0.15) !important;
}
/* line 6, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/_mixins.scss */
.material-style .fc-event-info.fc-event, .material-style .fc-event-info.fc-event-dot {
  background: rgba(40, 195, 215, 0.15) !important;
}
/* line 6, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/_mixins.scss */
.material-style .fc-event-warning.fc-event, .material-style .fc-event-warning.fc-event-dot {
  background: rgba(255, 217, 80, 0.15) !important;
}
/* line 6, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/_mixins.scss */
.material-style .fc-event-danger.fc-event, .material-style .fc-event-danger.fc-event-dot {
  background: rgba(217, 83, 79, 0.15) !important;
}
/* line 6, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/_mixins.scss */
.material-style .fc-event-light.fc-event, .material-style .fc-event-light.fc-event-dot {
  background: rgba(24, 28, 33, 0.15) !important;
}
/* line 6, /Users/william/Documents/work/W21C/vendor/assets/libs/fullcalendar/_mixins.scss */
.material-style .fc-event-dark.fc-event, .material-style .fc-event-dark.fc-event-dot {
  background: rgba(24, 28, 33, 0.15) !important;
}
