.title-header{
	background: linear-gradient(to right, #1e5799 0%, #26D07C 0%, #41B6E6 100%);
	padding:15rem 0 3rem 0;
	h1{
		color: #FFFFFF;
	}
}
/*
.offset-bg {
  top: -200px;
}
*/

h5 {
  color: black;
}

input:focus {
    color: #555 !important;
}

.title-img {
  height: 50px;
  width: auto;
  vertical-align: sub;
}

.title {
  display: inline;
  margin-left: 2rem;
}

ul.nav.navbar-nav{
  margin-top: 10px;
}

#tinted-image1 {
  background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.6)
    ),
    /* bottom, image */
    asset-url('home/home-organize.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
}
#tinted-image2 {
  background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.6)
    ),
    /* bottom, image */
    asset-url('home/home-tracking.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
}
#tinted-image3 {
  background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.6)
    ),
    /* bottom, image */
    asset-url('home/home-goals.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
}

#tinted-image1, #tinted-image2, #tinted-image3 {
  min-height: 285px;
}

#error_explanation {
  color: black;
  width: 450px;
  border: 2px solid #F7714C;
  padding: 7px 7px 0;
  margin-bottom: 20px;
}
.chart-container{
  position: relative;
  margin: 5rem 0 1rem 0;
  padding: 2rem 0 6rem 2rem;
  border: 1px solid black;
}