ul.legend-chart {
  list-style-type: none;

  li{
    font-size: 1.2rem;
    display: inline-block;
    -webkit-column-width: 100px;
    -moz-column-width: 100px;
    -o-column-width: 100px;
    -ms-column-width: 100px;
    column-width: 100px;

    -webkit-column-rule-style: solid;
    -moz-column-rule-style: solid;
    -o-column-rule-style: solid;
    -ms-column-rule-style: solid;
    column-rule-style: solid;
    .symptom-legend {
      display: inline-block;
      height: 8px;
      width: 8px;
      border-radius: 50%;
    }
  }
}
