<!--Footer-area-->
<footer class="black-bg">
    <div class="container">
        <div class="space-80"></div>
        <div class="row text-white wow fadeInUp">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <h3 class="text-uppercase text-center">Subscribe to our newsletter</h3>
                <div class="space-15"></div>
                <form id="mc-form" class="subscrie-form">
                    <label class="mt10" for="mc-email"></label>
                    <div class="input-group">
                        <input type="email" class="form-control" id="mc-email" placeholder="Your email address here...">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-info">Subscribe</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="space-80"></div>
        <div class="row text-white wow fadeIn">
            <div class="col-xs-12 text-center">
                <div class="social-menu">
                    <a href="#"><span class="ti-facebook"></span></a>
                    <a href="#"><span class="ti-twitter-alt"></span></a>
                </div>
                <div class="space-20"></div>
                <p>&copy;<%= Time.current.year %><a href="#"> My Care Compass</a> all right reserved. Designed by <a href="#">Macromind Media</a></p>
            </div>
        </div>
        <div class="space-20"></div>
    </div>
</footer>
<!--Footer-area-->
